<ng-container *ngIf="!!product">
  <ion-grid fixed>
    <img [src]="previewImage" class="main-image" />
    <ion-row>
      <ion-col>
        <p class="title">{{product.title}}</p>
        <price [price]="product.price" [discountPrice]="product.discountPrice"></price>
        <hr>
        <p class="summary-info">
          <ion-icon name="navigate-outline" class="summary-icon"></ion-icon>
          {{product.address}}, {{product.detailAddress}}
        </p>
        <p class="summary-info" *ngIf="runningHours!==0 && runningMinutes!==0">
          <ion-icon name="time-outline" class="summary-icon"></ion-icon>
          약 <span *ngIf="runningHours!=0">{{runningHours}}시간 </span>
          <span *ngIf="runningMinutes!=0">{{runningMinutes}}분</span> 소요
        </p>
        <p class="summary-info">
          <ng-container *ngIf="product.options.length!==0">
            <ion-icon name="calendar-outline" class="summary-icon"></ion-icon>
            {{product.options[0].date|date:'yyyy-MM-dd HH:mm'}}
            <span *ngIf="product.options.length > 1">외 {{product.options.length}}개의 일정</span>
          </ng-container>
          <ng-container *ngIf="product.options.length===0">
            <ion-icon name="calendar-outline" class="summary-icon"></ion-icon>
            <ion-chip color="warning">
              <ion-label>일정이 없습니다.</ion-label>
            </ion-chip>
          </ng-container>
        </p>
      </ion-col>
    </ion-row>

    <br>
    <div class="menu" style="top: 0">
      <a class="section-1" (click)="setPosition(1)">
        <p class="section-menu">모임 소개</p>
      </a>
      <a class="section-2" (click)="setPosition(2)">
        <p class="section-menu">모임 장소</p>
      </a>
      <a *ngIf="product.checkList" class="section-3" (click)="setPosition(3)">
        <p class="section-menu">준비물</p>
      </a>
      <a *ngIf="product.discountPrice !== 0" class="section-7" (click)="setPosition(7)">
        <p class="section-menu">환불 정책</p>
      </a>
    </div>

    <main>
      <section id="section-1">
        <ng-container *ngIf="product.point">
          <ion-row>
            <ion-col>
              <p><span class="section-title underline">포인트</span></p>
              <p class="pre-wrap">{{product.point}}</p>
            </ion-col>
          </ion-row>
          <hr>
        </ng-container>
        <ng-container *ngIf="product.recommend">
          <ion-row>
            <ion-col>
              <p><span class="section-title underline">이런 분이 함께하면 좋아요</span></p>
              <p class="pre-wrap">{{product.recommend}}</p>
            </ion-col>
          </ion-row>
          <hr>
        </ng-container>
        <ng-container *ngIf="product.description">
          <ion-row>
            <ion-col>
              <p><span class="section-title underline">프로그램 소개</span></p>
              <quill-view [content]="product.description" format="text" theme="snow" [style]="quillStyle"></quill-view>
            </ion-col>
          </ion-row>
        </ng-container>
      </section>
      <hr>
      <section id="section-2">
        <ion-row>
          <ion-col>
            <p><span class="section-title underline">모임 장소</span></p>
            <p>{{product.address}} {{product.detailAddress}}</p>
            <agm-map [latitude]="product.lat" [longitude]="product.lon" [zoom]="15">
              <agm-marker [latitude]="product.lat" [longitude]="product.lon"></agm-marker>
            </agm-map>
          </ion-col>
        </ion-row>
      </section>
      <hr>
      <ng-container *ngIf="product.checkList">
        <section id="section-3">
          <ion-row>
            <ion-col>
              <p><span class="section-title underline">준비물</span></p>
              <p class="pre-wrap">{{product.checkList}}</p>
            </ion-col>
          </ion-row>
          <hr>
          <ng-container *ngIf="product.includeList">
            <section>
              <ion-row>
                <ion-col>
                  <p><span class="section-title underline">포함 사항</span></p>
                  <p class="pre-wrap">{{product.includeList}}</p>
                </ion-col>
              </ion-row>
              <hr>
            </section>
          </ng-container>
          <ng-container *ngIf="product.excludeList">
            <section>
              <ion-row>
                <ion-col>
                  <p><span class="section-title underline">불포함 사항</span></p>
                  <p class="pre-wrap">{{product.excludeList}}</p>
                </ion-col>
              </ion-row>
              <hr>
            </section>
          </ng-container>
          <ng-container *ngIf="product.notice">
            <section>
              <ion-row>
                <ion-col>
                  <p><span class="section-title underline">유의 사항</span></p>
                  <p class="pre-wrap">{{product.notice}}</p>
                </ion-col>
              </ion-row>
              <hr>
            </section>
          </ng-container>
        </section>
      </ng-container>
      <section id="section-7" *ngIf="product.discountPrice !== 0">
        <ion-row>
          <ion-col>
            <p><span class="section-title underline">환불 정책</span></p>
            <p>상품 시작일 기준 {{product.refundPolicy100}}일 전까지 100% 환불</p>
            <p>상품 시작일 기준 {{product.refundPolicy0+1}}일 전까지 50% 환불</p>
            <p>상품 시작일 기준 {{product.refundPolicy0}}일 전 이후 환불 불가</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button class="nnb-btn nnb-btn-secondary nnb-btn-block" style="height: 3rem;padding: 0.75rem 0 1rem;">실시간
              문의하기</button>
          </ion-col>
        </ion-row>
        <hr>
      </section>
    </main>
  </ion-grid>
</ng-container>

<ng-container *ngIf="!product">
  <div style="padding-top: 30px">
    <p>미리보기를 생성 중입니다 &nbsp;<img src="/assets/loading.gif" width="25" height="25"></p>
  </div>
</ng-container>

<div #script style.display="none">
  <ng-content></ng-content>
</div>