.origin {
    color: #848c94;
    font-size: 14px;
    margin-right: 4px;
    text-decoration: line-through;
}

.discountRatio {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: normal;
    margin: 0px;
    color: rgb(243, 51, 64);
    font-weight: 600;
}

.discount {
    font-size: 16px;
    font-weight: 600;
}