<ion-content>
  <ion-grid fixed *ngIf="magazine">
    <ion-row>
      <ion-col>
        <img [src]="magazine.representationPhoto" class="main-image" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="desc date">{{magazine.createdAt|date:'yyyy년 MM월 dd일'}}</p>
        <h3>{{magazine.title}}</h3>
        <p class="desc">{{magazine.catchphrase}}</p>
      </ion-col>
    </ion-row>
    <hr style="margin: 0px">
    <ion-row>
      <ion-col>
        <quill-view [content]="magazine.contents" format="text" theme="snow" [style]="quillStyle"></quill-view>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>