<ion-content>
  <ion-grid>
    <div class="bs-stepper" #stepperRef>
      <ion-row>
        <meeting-add-sidebar [formGroup]="meetingForm" (onLastCheck)="lastCheck()"></meeting-add-sidebar>
        <ion-col size-lg="10" size-md="10" size-sm="12" size-xs="12" size="12">
          <div class="bs-stepper-content">
            <form [formGroup]="meetingForm">
              <div id="test-l-1" class="content">
                <ion-item lines="none">
                  <ion-label position="floating">모임 이름<span class="invalid-input">*</span>
                  </ion-label>
                  <ion-input type="text" [formControlName]="'title'" clearInput></ion-input>
                </ion-item>
                <hr>
                <div ngxErrors="title">
                  <div ngxError="maxlength" [when]="['dirty']">
                    <p class="invalid-input">30자 제한입니다.</p>
                  </div>
                  <div ngxError="required" [when]="['dirty']">
                    <p class="invalid-input">필수 입력 항목입니다.</p>
                  </div>
                </div>
                <ion-item lines="none">
                  <ion-label position="floating">캐치 프레이즈<span class="invalid-input">*</span></ion-label>
                  <ion-input type="text" [formControlName]="'subTitle'" clearInput></ion-input>
                </ion-item>
                <hr>
                <div ngxErrors="subTitle">
                  <div ngxError="maxlength" [when]="['dirty']">
                    <p class="invalid-input">40자 제한입니다.</p>
                  </div>
                  <div ngxError="required" [when]="['dirty']">
                    <p class="invalid-input">필수 입력 항목입니다.</p>
                  </div>
                </div>
                <br><br>
                <ion-button color="primary" (click)="next()">다음</ion-button>
              </div>
              <div id="test-l-2" class="content">
                <ion-item lines="none">
                  <ion-label position="fixed">이미지<span class="invalid-input">*</span></ion-label>
                  <input #fileInput type="file" class="form-control" (change)="onFileChange($event)">
                </ion-item>
                <img *ngIf="!!previewImage" [src]="previewImage" style="width: 400px; height: 400px" />
                <hr>
                <br><br>
                <ion-button color="light" (click)="prev()">이전</ion-button>
                <ion-button color="primary" (click)="next()">다음</ion-button>
              </div>
              <div id="test-l-3" class="content">
                <ion-item lines="none">
                  <ion-label position="floating">카테고리<span class="invalid-input">*</span></ion-label>
                  <ion-select value="brown" okText="확인" cancelText="취소" [formControlName]="'categories'">
                    <ion-select-option *ngFor="let category of categories" [value]="category">{{category}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <hr>
                <br><br>
                <ion-button color="light" (click)="prev()">이전</ion-button>
                <ion-button color="primary" (click)="next()">다음</ion-button>
              </div>
              <div id="test-l-4" class="content">
                <ion-item lines="none">
                  <ion-label position="floating">장소<span class="invalid-input">*</span></ion-label>
                  <ion-input type="text" id="addressInput" (keydown.enter)="$event.preventDefault()" type="text"
                    [formControlName]="'address'" clearInput></ion-input>
                </ion-item>
                <hr>
                <div ngxErrors="address">
                  <div ngxError="maxlength" [when]="['dirty']">
                    <p class="invalid-input">500자 제한입니다.</p>
                  </div>
                  <div ngxError="required" [when]="['dirty']">
                    <p class="invalid-input">필수 입력 항목입니다.</p>
                  </div>
                </div>
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
                <ion-item lines="none">
                  <ion-label position="floating">상세 장소<span class="invalid-input">*</span></ion-label>
                  <ion-input type="text" [formControlName]="'detailAddress'" clearInput></ion-input>
                </ion-item>
                <hr>
                <div ngxErrors="detailAddress">
                  <div ngxError="maxlength" [when]="['dirty']">
                    <p class="invalid-input">500자 제한입니다.</p>
                  </div>
                  <div ngxError="required" [when]="['dirty']">
                    <p class="invalid-input">필수 입력 항목입니다.</p>
                  </div>
                </div>
                <br><br>
                <ion-button color="light" (click)="prev()">이전</ion-button>
                <ion-button color="primary" (click)="next()">다음</ion-button>
              </div>
              <div id="test-l-5" class="content">
                <ion-item lines="none">
                  <ion-label position="floating">기간 시작<span class="invalid-input">*</span></ion-label>
                  <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [formControlName]="'from'"></ion-datetime>
                </ion-item>
                <hr>
                <ion-item lines="none">
                  <ion-label position="floating">기간 종료<span class="invalid-input">*</span></ion-label>
                  <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [formControlName]="'to'"></ion-datetime>
                </ion-item>
                <hr>
                <br><br>
                <ion-button color="light" (click)="prev()">이전</ion-button>
                <ion-button color="primary" (click)="next()">다음</ion-button>
              </div>
              <div id="test-l-6" class="content">
                <ion-item lines="none">
                  <ion-label position="floating">인원 제한(명)<span class="invalid-input">*</span></ion-label>
                  <ion-input type="number" [formControlName]="'limitPerson'" clearInput></ion-input>
                </ion-item>
                <hr>
                <div ngxErrors="limitPerson">
                  <div ngxError="max" [when]="['dirty']">
                    <p class="invalid-input">1000명 제한입니다.</p>
                  </div>
                  <div ngxError="required" [when]="['dirty']">
                    <p class="invalid-input">필수 입력 항목입니다.</p>
                  </div>
                </div>
                <br><br>
                <ion-button color="light" (click)="prev()">이전</ion-button>
                <ion-button color="primary" (click)="next()">다음</ion-button>
              </div>
              <div id="test-l-7" class="content">
                <ion-item lines="none">
                  <ion-label position="floating">가격<span class="invalid-input">*</span></ion-label>
                  <ion-input type="number" formControlName="price" (ngModelChange)="checkDiscountPrice()" clearInput>
                  </ion-input>
                </ion-item>
                <hr>
                <div ngxErrors="price">
                  <div ngxError="max" [when]="['dirty']">
                    <p class="invalid-input">10000000원 제한입니다.</p>
                  </div>
                  <div ngxError="required" [when]="['dirty']">
                    <p class="invalid-input">필수 입력 항목입니다.</p>
                  </div>
                </div>
                <ion-item lines="none">
                  <ion-label position="floating">할인된 가격</ion-label>
                  <ion-input type="number" formControlName="discountPrice" clearInput></ion-input>
                </ion-item>
                <hr>
                <div ngxErrors="discountPrice">
                  <div ngxError="max" [when]="['dirty']">
                    <p class="invalid-input">10000000원 제한입니다.</p>
                  </div>
                  <div ngxError="isUpper" [when]="['dirty']">
                    <p class="invalid-input">할인가격이 더 클 수 없습니다.</p>
                  </div>
                </div>
                <br>
                <span class="desc">다음과 같이 표시됩니다.</span>
                <div style="padding: 20px; border: 1px solid #c8c7c7;border-radius: 4px;max-width: 240px;">
                  <span *ngIf="meetingForm.controls.price.value !== 0" class="price">
                    <ng-container *ngIf="!!meetingForm.controls.discountPrice.value &&
                       meetingForm.controls.discountPrice.value !== 0 &&
                      meetingForm.controls.price.valid">
                      <span class="origin">{{meetingForm.controls.price.value | number}}원</span>
                      <span class="discount">{{meetingForm.controls.discountPrice.value | number}}원</span>
                    </ng-container>
                    <ng-container
                      *ngIf="meetingForm.controls.discountPrice.value === 0 || !meetingForm.controls.discountPrice.value">
                      <p class="discount" style="margin-bottom: 0px;">{{meetingForm.controls.price.value | number}}원</p>
                    </ng-container>
                  </span>
                  <span *ngIf="meetingForm.controls.price.value === 0" class="price">무료</span>
                </div>
                <br><br>
                <ion-button color="light" (click)="prev()">이전</ion-button>
                <ion-button color="primary" (click)="next()">다음</ion-button>
              </div>
              <div id="test-l-8" class="content">
                <div style="margin: 14px 0px 12px 15px">
                  <ion-label position="floating">구매 옵션<span class="invalid-input">*</span></ion-label>
                  <div formArrayName="options"
                    *ngFor="let item of meetingForm.get('options')['controls']; let i = index;">
                    <div [formGroupName]="i" style="display: flex;">
                      <ion-card>
                        <ion-card-content>
                          <ion-item>
                            <ion-label position="floating">옵션 설명</ion-label>
                            <ion-input type="text" [formControlName]="'oid'" clearInput hidden></ion-input>
                            <ion-input type="text" [formControlName]="'optionTitle'" clearInput></ion-input>
                          </ion-item>
                          <hr>
                          <ion-item>
                            <ion-label position="floating">가격</ion-label>
                            <ion-input type="number" [formControlName]="'optionPrice'" clearInput>
                            </ion-input>
                          </ion-item>
                          <ion-item>
                            <ion-label position="floating">시작 일시</ion-label>
                            <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [formControlName]="'optionTo'">
                            </ion-datetime>
                          </ion-item>
                          <ion-item>
                            <ion-label position="floating">종료 일시</ion-label>
                            <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [formControlName]="'optionFrom'">
                            </ion-datetime>
                          </ion-item>
                          <hr>
                          <ion-item lines="none">
                            <ion-button slot="end" (click)="minusItem(i)" color="danger">삭제</ion-button>
                          </ion-item>
                        </ion-card-content>
                      </ion-card>
                    </div>
                  </div>
                  <ion-button (click)="addItem()" color="primary">옵션 추가하기</ion-button>
                </div>
                <br><br>
                <ion-button color="light" (click)="prev()">이전</ion-button>
                <ion-button color="primary" (click)="next()">다음</ion-button>
              </div>
              <div id="test-l-9" class="content">
                <ion-item lines="none">
                  <ion-label position="fixed">소개<span class="invalid-input">*</span></ion-label>
                </ion-item>
                <quill-editor #quill style="-webkit-user-select: text" formControlName="desc"
                  [placeholder]="'모임에 대해 설명해주세요.'" [styles]="quillStyle" (onEditorCreated)="getEditorInstance($event)">
                </quill-editor>
                <div ngxErrors="desc">
                  <div ngxError="required" [when]="['dirty']">
                    <p class="invalid-input">필수 입력 항목입니다.</p>
                  </div>
                </div>
                <ion-button color="light" (click)="prev()">이전</ion-button>
                <ion-button color="primary" (click)="next()">다음</ion-button>
              </div>
              <div id="test-l-10" class="content">
                <ion-item lines="none">
                  <ion-label position="floating">준비물<span class="invalid-input">*</span></ion-label>
                  <ion-textarea rows="7" maxlength="500" [formControlName]="'check_list'" clearInput></ion-textarea>
                </ion-item>
                <hr>
                <div ngxErrors="check_list">
                  <div ngxError="maxlength" [when]="['dirty']">
                    <p class="invalid-input">500자 제한입니다.</p>
                  </div>
                  <div ngxError="required" [when]="['dirty']">
                    <p class="invalid-input">필수 입력 항목입니다.</p>
                  </div>
                </div>
                <ion-item lines="none">
                  <ion-label position="floating">포함 사항</ion-label>
                  <ion-textarea rows="7" maxlength="500" [formControlName]="'include'" clearInput></ion-textarea>
                </ion-item>
                <hr>
                <div ngxErrors="include">
                  <div ngxError="maxlength" [when]="['dirty']">
                    <p class="invalid-input">500자 제한입니다.</p>
                  </div>
                </div>
                <ion-item lines="none">
                  <ion-label position="floating">불포함 사항</ion-label>
                  <ion-textarea rows="7" maxlength="500" [formControlName]="'exclude'" clearInput></ion-textarea>
                </ion-item>
                <hr>
                <div ngxErrors="exclude">
                  <div ngxError="maxlength" [when]="['dirty']">
                    <p class="invalid-input">500자 제한입니다.</p>
                  </div>
                </div>
                <br><br>
                <ion-button color="light" (click)="prev()">이전</ion-button>
                <ion-button color="primary" (click)="next()">다음</ion-button>
              </div>
              <div id="test-l-11" class="content">
                <ion-item lines="none">
                  <ion-label position="floating">환불 정책<span class="invalid-input">*</span></ion-label>
                  <ion-textarea rows="7" maxlength="500" [formControlName]="'refund_policy'" clearInput></ion-textarea>
                </ion-item>
                <hr>
                <div ngxErrors="refund_policy">
                  <div ngxError="maxlength" [when]="['dirty']">
                    <p class="invalid-input">500자 제한입니다.</p>
                  </div>
                  <div ngxError="required" [when]="['dirty']">
                    <p class="invalid-input">필수 입력 항목입니다.</p>
                  </div>
                </div>
                <ion-item lines="none">
                  <ion-label position="floating">유의 사항</ion-label>
                  <ion-textarea rows="7" maxlength="500" [formControlName]="'notice'" clearInput></ion-textarea>
                </ion-item>
                <hr>
                <div ngxErrors="notice">
                  <div ngxError="maxlength" [when]="['dirty']">
                    <p class="invalid-input">500자 제한입니다.</p>
                  </div>
                </div>
                <br><br>
                <ion-button color="light" (click)="prev()">이전</ion-button>
                <ion-button color="primary" (click)="next()" [disabled]="meetingForm.invalid">다음</ion-button>
              </div>
              <div id="test-l-12" class="content">
                <ion-button color="light" (click)="prev()">이전</ion-button>
                <ion-button color="primary" [disabled]="meetingForm.invalid" (click)="edit()">모임 수정 완료!
                </ion-button>
                <meeting-preview [meeting]="previewMeeting" [previewImage]="previewImage"></meeting-preview>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>