<ion-content>
  <ion-grid fixed>
    <br><br>
    <p style="font-size: 20px; text-align: center;">시스템 오류로 인해 결제에 실패하였습니다🙀🙀</p>
    <div style="text-align: center;">
      <ion-button color="light" (click)="question()"><img style="width: 20px;"
          src="/assets/sns-icon/kakaotalk-logo.png">&nbsp;실시간 문의하기
      </ion-button>
      <br>
      <br>
      <a [href]="'/tabs/home'" style="text-decoration: none; color: black;">
        <ion-button size="small" color="medium">메인으로 가기</ion-button>
      </a>
    </div>
  </ion-grid>
</ion-content>