<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <a [href]="'/host/meeting-management/meeting-add'">
          <button class="nnb-btn nnb-btn-sm nnb-btn-primary">
            <ion-icon name="add-outline" slot="start"></ion-icon>모임 등록하기
          </button>
        </a>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="meta">
      <ion-list *ngFor="let product of hostedProducts | paginate: {
      id:meta.paginationId,
      itemsPerPage: meta.itemsPerPage, 
      currentPage: meta.currentPage,
      totalItems:meta.totalItems
    }; let i = index">
        <ion-item>
          <ion-thumbnail slot="start" style="cursor: pointer;">
            <img [src]="product.representationPhotos[0].photo" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h3><a [href]="'/tabs/meeting-detail/' + product.id">{{product.title}}</a></h3>
            <p class="hashtag">
              <ng-container *ngFor="let hashtag of product.hashtags">
                #{{hashtag.name}}
              </ng-container>
            </p>
            <p *ngIf="product.price === 0 || product.discountPrice === 0">{{product.discountPrice |number}}원</p>
            <p *ngIf="product.price === 0 || product.discountPrice === 0">무료</p>
            <ion-badge color="light">{{getStatusLabel(product.status)}}</ion-badge>
          </ion-label>
          <div *ngIf="isDesktop">
            <ion-button color="medium" (click)="edit(product.id)">수정하기</ion-button>
            <ion-button color="danger" (click)="removeProduct(product.id)">삭제</ion-button>
          </div>
          <ion-icon *ngIf="!isDesktop" name="ellipsis-vertical-outline" style="float: right; padding:20px 20px"
            class="more" (click)="presentActionSheet(product.id)"></ion-icon>
        </ion-item>
      </ion-list>

      <pagination *ngIf="!!meta && hostedProducts.length>0" (onChange)="pageChanged($event)"
        [paginationId]="meta.paginationId">
      </pagination>
    </ng-container>
  </ion-grid>
</ion-content>