<ion-content>
  <ion-grid fixed [fixed]="isDesktop" [ngStyle]="{'padding':isDesktop?'':'0px'}">
    <img src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/meetings/1_%ED%8F%AC%EC%8A%A4%ED%84%B0.jpg">
    <img
      src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/meetings/2_%ED%8F%AC%EC%8A%A4%ED%84%B0%EC%BF%A0%ED%8F%B0%EB%B2%84%ED%8A%BC_click.jpg"
      (click)="onClick('https://nonunbub.com/tabs/login',true)">
    <img class="margin"
      src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/meetings/3_%ED%8F%AC%EC%8A%A4%ED%84%B0.jpg">
    <img
      src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/meetings/4_%EC%A0%9C%EC%A3%BC%EC%97%AC%EA%B0%80%EB%A7%88%EC%9D%84%EB%A9%94%EC%9D%B8.jpg">
    <img class="margin"
      src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/meetings/5_%EC%A0%9C%EC%A3%BC%EC%97%AC%EA%B0%80%EB%A7%88%EC%9D%84%EB%B2%84%ED%8A%BC_click.jpg"
      (click)="onClick(140)">
    <img
      src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/meetings/6_%EB%94%94%EC%97%A0%EC%A7%80%EB%A9%94%EC%9D%B8.jpg">
    <img class="margin"
      src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/meetings/7_%EB%94%94%EC%97%A0%EC%A7%80%EB%B2%84%ED%8A%BC_click.jpg"
      (click)="onClick(141)">
    <img src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/meetings/8_%EA%B3%A0%EA%B6%81%EB%A9%94%EC%9D%B8.jpg">
    <img class="margin"
      src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/meetings/9_%EA%B3%A0%EA%B6%81%EB%B2%84%ED%8A%BC_click.jpg"
      (click)="onClick(145)">
    <img
      src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/meetings/10_%EC%84%B1%EA%B3%BD%EA%B8%B8%EB%A9%94%EC%9D%B8.jpg">
    <img
      src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/meetings/11_%EC%84%B1%EA%B3%BD%EA%B8%B8%EB%B2%84%ED%8A%BC_click.jpg"
      (click)="onClick(146)">
  </ion-grid>
</ion-content>