<ion-row style="margin-bottom: 140px;">
  <ion-col *ngIf="!isDesktop">
    <ion-button color="medium" expand="block" size="small" (click)="showMenu()">
      <ion-icon name="grid-outline"></ion-icon>&nbsp;&nbsp;
      <span *ngIf="!isShowMenu">목록 보기</span>
      <span *ngIf="isShowMenu">목록 숨기기</span>
    </ion-button>
  </ion-col>
  <ion-col [ngStyle]="{
      'visibility':isShowMenu || isDesktop?'visible':'hidden',
       'position':isShowMenu?'block':'inline-block',
       'height':isShowMenu?'auto':'0px'}" size-lg="2" size-md="2" size-sm="12" size-xs="12" size="12" class="step-col">
    <div class="step" data-target="#test-l-1">
      <button class="trigger">
        <ion-icon *ngIf="formGroup.controls.title.invalid || formGroup.controls.subTitle.invalid"
          name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="formGroup.controls.title.valid && formGroup.controls.subTitle.valid" name="checkmark-circle"
          style="color:#007bff">
        </ion-icon>
        상품 제목
      </button>
    </div>
    <div class="step" data-target="#test-l-2">
      <button class="trigger">
        <ion-icon *ngIf="formGroup.controls.fileSource.invalid" name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="formGroup.controls.fileSource.valid" name="checkmark-circle" style="color:#007bff">
        </ion-icon>
        대표 이미지
      </button>
    </div>
    <div class="step" data-target="#test-l-3">
      <button class="trigger">
        <ion-icon *ngIf="formGroup.controls.categories.invalid" name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="formGroup.controls.categories.valid" name="checkmark-circle" style="color:#007bff">
        </ion-icon>
        카테고리
      </button>
    </div>
    <div class="step" data-target="#test-l-4">
      <button class="trigger">
        <ion-icon
          *ngIf="formGroup.controls.address.invalid || formGroup.controls.detailAddress.invalid || formGroup.controls.runningMinutes.invalid"
          name="checkmark-circle-outline"></ion-icon>
        <ion-icon
          *ngIf="formGroup.controls.address.valid && formGroup.controls.detailAddress.valid && formGroup.controls.runningMinutes.valid"
          name="checkmark-circle" style="color:#007bff">
        </ion-icon>
        장소/소요시간
      </button>
    </div>
    <div class="step" data-target="#test-l-5">
      <button class="trigger">
        <ion-icon *ngIf="formGroup.controls.price.invalid || formGroup.controls.discountPrice.invalid"
          name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="formGroup.controls.price.valid &&formGroup.controls.discountPrice.valid"
          name="checkmark-circle" style="color:#007bff">
        </ion-icon>
        가격
      </button>
    </div>
    <div class="step" data-target="#test-l-6">
      <button class="trigger" (click)="setCalendar()">
        <ion-icon *ngIf="formGroup.controls.options.invalid" name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="formGroup.controls.options.valid" name="checkmark-circle" style="color:#007bff">
        </ion-icon>
        구매 옵션
      </button>
    </div>
    <div class="step" data-target="#test-l-7">
      <button class="trigger">
        <ion-icon *ngIf="formGroup.controls.desc.invalid" name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="formGroup.controls.desc.valid" name="checkmark-circle" style="color:#007bff">
        </ion-icon>
        소개
      </button>
    </div>
    <div class="step" data-target="#test-l-8">
      <button class="trigger">
        <ion-icon
          *ngIf="formGroup.controls.check_list.invalid || formGroup.controls.include.invalid || formGroup.controls.exclude.invalid"
          name="checkmark-circle-outline"></ion-icon>
        <ion-icon
          *ngIf="formGroup.controls.check_list.valid && formGroup.controls.include.valid && formGroup.controls.exclude.valid"
          name="checkmark-circle" style="color:#007bff">
        </ion-icon>
        준비물
      </button>
    </div>
    <div class="step" data-target="#test-l-9">
      <button class="trigger">
        <ion-icon *ngIf="formGroup.controls.notice.invalid" name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="formGroup.controls.notice.valid" name="checkmark-circle" style="color:#007bff">
        </ion-icon>
        유의사항
      </button>
    </div>
    <div class="step" data-target="#test-l-10">
      <button class="trigger">
        <ion-icon *ngIf="formGroup.controls.refundPolicy100.invalid ||
        formGroup.controls.refundPolicy0.invalid" name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="formGroup.controls.refundPolicy100.valid &&
        formGroup.controls.refundPolicy0.valid" name="checkmark-circle" style="color:#007bff">
        </ion-icon>
        환불 정책
      </button>
    </div>
    <div class="step" data-target="#test-l-11">
      <button class="trigger" (click)="lastCheck()" [disabled]="formGroup.invalid"
        [ngStyle]="{'cursor':formGroup.invalid ? 'not-allowed':'pointer'}">최종 확인</button>
    </div>
  </ion-col>
  <ion-col size-lg="10" size-md="10" size-sm="12" size-xs="12" size="12">
    <div class="bs-stepper-content">
      <form [formGroup]="formGroup">
        <div id="test-l-1" class="content">
          <ion-button class="next-prev" color="primary" (click)="next()">다음</ion-button>
          <notion-desc [description]="descriptions[0]"></notion-desc>
          <ion-item lines="none">
            <ion-label position="floating">상품 제목<span class="invalid-input">*</span>
            </ion-label>
            <ion-input type="text" [formControlName]="'title'" clearInput></ion-input>
          </ion-item>
          <hr>
          <p *ngIf="formGroup.controls.title.valid" class="maximun-info">
            {{formGroup.controls.title.value.length}} / 최대 30자
          </p>
          <div ngxErrors="title">
            <div ngxError="maxlength" [when]="['dirty']">
              <p class="invalid-input">30자 제한입니다.</p>
            </div>
            <div ngxError="required" [when]="['dirty']">
              <p class="invalid-input">필수 입력 항목입니다.</p>
            </div>
          </div>
          <ion-item lines="none">
            <ion-label position="floating">캐치 프레이즈<span class="invalid-input">*</span></ion-label>
            <ion-input type="text" [formControlName]="'subTitle'" clearInput></ion-input>
          </ion-item>
          <hr>
          <p *ngIf="formGroup.controls.subTitle.valid" class="maximun-info">
            {{formGroup.controls.subTitle.value.length}} / 최대 40자
          </p>
          <div ngxErrors="subTitle">
            <div ngxError="maxlength" [when]="['dirty']">
              <p class="invalid-input">40자 제한입니다.</p>
            </div>
            <div ngxError="required" [when]="['dirty']">
              <p class="invalid-input">필수 입력 항목입니다.</p>
            </div>
          </div>
        </div>
        <div id="test-l-2" class="content">
          <div class="next-prev">
            <ion-button color="light" (click)="prev()">이전</ion-button>
            <ion-button color="primary" (click)="next()">다음</ion-button>
          </div>
          <notion-desc [description]="descriptions[1]"></notion-desc>
          <ion-item lines="none">
            <ion-label position="fixed">이미지<span class="invalid-input">*</span></ion-label>
            <input #fileInput id="file" type="file" class="form-control" (change)="onFileChange($event)">
          </ion-item>
          <img *ngIf="!!previewImage" [src]="previewImage" style="width: 400px; height: 400px" />
          <hr>
        </div>
        <div id="test-l-3" class="content">
          <div class="next-prev">
            <ion-button color="light" (click)="prev()">이전</ion-button>
            <ion-button color="primary" (click)="next()">다음</ion-button>
          </div>
          <notion-desc [description]="descriptions[2]"></notion-desc>
          <ion-item lines="none">
            <ion-label position="floating">카테고리<span class="invalid-input">*</span></ion-label>
            <ion-select okText="확인" cancelText="취소" [formControlName]="'categories'">
              <ion-select-option *ngFor="let category of categories" [value]="category">{{category}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <hr>
        </div>
        <div id="test-l-4" class="content">
          <div class="next-prev">
            <ion-button color="light" (click)="prev()">이전</ion-button>
            <ion-button color="primary" (click)="next()">다음</ion-button>
          </div>
          <notion-desc [description]="descriptions[3]"></notion-desc>
          <ion-item lines="none">
            <ion-label position="floating">장소<span class="invalid-input">*</span></ion-label>
            <ion-input type="text" id="addressInput" (keydown.enter)="$event.preventDefault()" type="text"
              [formControlName]="'address'" clearInput></ion-input>
          </ion-item>
          <hr>
          <p *ngIf="formGroup.controls.address.valid" class="maximun-info">
            {{formGroup.controls.address.value.length}} / 최대 500자
          </p>
          <div ngxErrors="address">
            <div ngxError="maxlength" [when]="['dirty']">
              <p class="invalid-input">500자 제한입니다.</p>
            </div>
            <div ngxError="required" [when]="['dirty']">
              <p class="invalid-input">필수 입력 항목입니다.</p>
            </div>
          </div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"></agm-marker>
          </agm-map>
          <ion-item lines="none">
            <ion-label position="floating">상세 장소<span class="invalid-input">*</span></ion-label>
            <ion-input type="text" [formControlName]="'detailAddress'" clearInput></ion-input>
          </ion-item>
          <hr>
          <p *ngIf="formGroup.controls.detailAddress.valid" class="maximun-info">
            {{formGroup.controls.detailAddress.value.length}} / 최대 500자
          </p>
          <div ngxErrors="detailAddress">
            <div ngxError="maxlength" [when]="['dirty']">
              <p class="invalid-input">500자 제한입니다.</p>
            </div>
            <div ngxError="required" [when]="['dirty']">
              <p class="invalid-input">필수 입력 항목입니다.</p>
            </div>
          </div>
          <ion-row>
            <ion-item lines="none">
              <ion-label position="fixed">소요 시간<span class="invalid-input">*</span></ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-select okText="확인" cancelText="취소" [formControlName]="'runningHours'" style="min-width: 70px;">
                <ion-select-option *ngFor="let hour of hours" [value]="hour">{{hour}}
                </ion-select-option>
              </ion-select>
              <span>시간</span>
            </ion-item>
            <ion-item lines="none">
              <ion-select okText="확인" cancelText="취소" [formControlName]="'runningMinutes'" style="min-width: 70px;">
                <ion-select-option *ngFor="let minute of minutes" [value]="minute">{{minute}}
                </ion-select-option>
              </ion-select>
              <span>분</span>
            </ion-item>
          </ion-row>
          <hr>
          <div *ngIf="formGroup.controls.runningMinutes.hasError('min')">
            <p class="invalid-input">0분이 이상을 입력해주세요.</p>
          </div>
        </div>
        <div id="test-l-5" class="content">
          <div class="next-prev">
            <ion-button color="light" (click)="prev()">이전</ion-button>
            <ion-button color="primary" (click)="next(true)">다음</ion-button>
          </div>
          <notion-desc [description]="descriptions[4]"></notion-desc>
          <ion-item lines="none">
            <ion-label position="floating">가격<span class="invalid-input">*</span></ion-label>
            <ion-input type="number" formControlName="price" (ngModelChange)="checkDiscountPrice()" clearInput>
            </ion-input>
          </ion-item>
          <hr>
          <div ngxErrors="price">
            <div ngxError="max" [when]="['dirty']">
              <p class="invalid-input">10000000원 제한입니다.</p>
            </div>
            <div ngxError="required" [when]="['dirty']">
              <p class="invalid-input">필수 입력 항목입니다.</p>
            </div>
          </div>
          <ion-item lines="none">
            <ion-label position="floating">할인된 가격</ion-label>
            <ion-input type="number" formControlName="discountPrice" clearInput></ion-input>
          </ion-item>
          <hr>
          <form-errors [formGroup]="formGroup" [controlName]="'discountPrice'" [errors]="[{key:'max',meesage:'10000000원 제한입니다.'},
              {key:'isUpper',meesage:'할인가격이 더 클 수 없습니다.'}]" [isUnUseDirty]="true">
          </form-errors>
          <br>
          <span class="desc">다음과 같이 표시됩니다.</span>
          <div style="padding: 20px; border: 1px solid #c8c7c7;border-radius: 4px;max-width: 240px;">
            <span *ngIf="formGroup.controls.price.value !== 0 && formGroup.controls.price.value !== ''" class="price">
              <ng-container *ngIf="!!formGroup.controls.discountPrice.value && 
              formGroup.controls.discountPrice.value !== 0 &&
              formGroup.controls.price.valid">
                <span class="origin">{{formGroup.controls.price.value | number}}원</span>
                <span class="discount">{{formGroup.controls.discountPrice.value | number}}원</span>
              </ng-container>
              <ng-container
                *ngIf="!formGroup.controls.discountPrice.value  || formGroup.controls.discountPrice.value === 0">
                <p class="discount" style="margin-bottom: 0px;">
                  {{formGroup.controls.price.value | number}}원</p>
              </ng-container>
            </span>
            <span *ngIf="formGroup.controls.price.value === 0" class="price">무료</span>
          </div>
        </div>
        <div id="test-l-6" class="content">
          <div class="next-prev">
            <ion-button color="light" (click)="prev()">이전</ion-button>
            <ion-button color="primary" (click)="next()">다음</ion-button>
          </div>
          <notion-desc [description]="descriptions[5]"></notion-desc>
          <ion-button color="primary" (click)="openModal(addTpl,'add')">일괄 추가하기</ion-button>
          <ion-button color="medium" (click)="openModal(deleteTpl, 'delete')">일괄 삭제하기</ion-button>

          <hr style="margin-top:20px; margin-bottom:20px">
          <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>
        <div id="test-l-7" class="content">
          <div class="next-prev">
            <ion-button color="light" (click)="prev(true)">이전</ion-button>
            <ion-button color="primary" (click)="next()">다음</ion-button>
          </div>
          <notion-desc [description]="descriptions[6]"></notion-desc>
          <ion-item lines="none">
            <ion-label position="fixed">소개<span class="invalid-input">*</span></ion-label>
          </ion-item>
          <quill-editor #quill style="-webkit-user-select: text" formControlName="desc" [placeholder]="'상품에 대해 설명해주세요.'"
            [styles]="quillStyle" (onEditorCreated)="getEditorInstance($event)">
          </quill-editor>
          <div ngxErrors="desc">
            <div ngxError="required" [when]="['dirty']">
              <p class="invalid-input">필수 입력 항목입니다.</p>
            </div>
          </div>
        </div>
        <div id="test-l-8" class="content">
          <div class="next-prev">
            <ion-button color="light" (click)="prev()">이전</ion-button>
            <ion-button color="primary" (click)="next()">다음</ion-button>
          </div>
          <notion-desc [description]="descriptions[7]"></notion-desc>
          <ion-item lines="none">
            <ion-label position="floating">준비물<span class="invalid-input">*</span></ion-label>
            <ion-textarea rows="7" maxlength="500" [formControlName]="'check_list'" clearInput></ion-textarea>
          </ion-item>
          <hr>
          <p *ngIf="formGroup.controls.check_list.valid && formGroup.controls.check_list.value.length>0"
            class="maximun-info">
            {{formGroup.controls.check_list.value.length}} / 최대 500자
          </p>
          <div ngxErrors="check_list">
            <div ngxError="maxlength" [when]="['dirty']">
              <p class="invalid-input">500자 제한입니다.</p>
            </div>
            <div ngxError="required" [when]="['dirty']">
              <p class="invalid-input">필수 입력 항목입니다.</p>
            </div>
          </div>
          <ion-item lines="none">
            <ion-label position="floating">포함 사항</ion-label>
            <ion-textarea rows="7" maxlength="500" [formControlName]="'include'" clearInput></ion-textarea>
          </ion-item>
          <hr>
          <p *ngIf="formGroup.controls.include.valid && formGroup.controls.include.value.length>0" class="maximun-info">
            {{formGroup.controls.include.value.length}} / 최대 500자
          </p>
          <div ngxErrors="include">
            <div ngxError="maxlength" [when]="['dirty']">
              <p class="invalid-input">500자 제한입니다.</p>
            </div>
          </div>
          <ion-item lines="none">
            <ion-label position="floating">불포함 사항</ion-label>
            <ion-textarea rows="7" maxlength="500" [formControlName]="'exclude'" clearInput></ion-textarea>
          </ion-item>
          <hr>
          <p *ngIf="formGroup.controls.exclude.valid && formGroup.controls.exclude.value.length>0" class="maximun-info">
            {{formGroup.controls.exclude.value.length}} / 최대 500자
          </p>
          <div ngxErrors="exclude">
            <div ngxError="maxlength" [when]="['dirty']">
              <p class="invalid-input">500자 제한입니다.</p>
            </div>
          </div>
        </div>
        <div id="test-l-9" class="content">
          <div class="next-prev">
            <ion-button color="light" (click)="prev()">이전</ion-button>
            <ion-button color="primary" (click)="next()">다음</ion-button>
          </div>
          <notion-desc [description]="descriptions[8]"></notion-desc>
          <ion-item lines="none">
            <ion-label position="floating">유의 사항</ion-label>
            <ion-textarea rows="7" maxlength="500" [formControlName]="'notice'" clearInput></ion-textarea>
          </ion-item>
          <hr>
          <p *ngIf="formGroup.controls.notice.valid && formGroup.controls.notice.value.length>0" class="maximun-info">
            {{formGroup.controls.notice.value.length}} / 최대 500자
          </p>
          <div ngxErrors="notice">
            <div ngxError="maxlength" [when]="['dirty']">
              <p class="invalid-input">500자 제한입니다.</p>
            </div>
          </div>
          <ion-checkbox type="checkbox" [checked]="noticeChcked" (ionChange)="checkAllowPolicy($event)">
          </ion-checkbox>
          노는법 정책을 따르겠습니다.
        </div>
        <div id="test-l-10" class="content">
          <div class="next-prev">
            <ion-button color="light" (click)="prev()">이전</ion-button>
            <ion-button color="primary" (click)="next()" [disabled]="formGroup.invalid">다음</ion-button>
          </div>
          <notion-desc [description]="descriptions[9]"></notion-desc>
          <ion-item lines="none">
            <ion-label position="floating">환불 정책</ion-label>
            <br> <br>
            <p class="desc">시간은 자정 기준입니다.</p>
            <div style="display: flex;">
              <p>상품 시작일 기준 &nbsp;</p><input type="number" [formControlName]="'refundPolicy100'"
                (ngModelChange)="checkRefundPolicy0()" class="form-control refund-day">&nbsp;일 전까지 100% 환불
            </div>
            <form-errors [formGroup]="formGroup" [controlName]="'refundPolicy100'"
              [errors]="[{key:'min',meesage:'0일 이상 입력할 수 있습니다.'},{key:'max',meesage:'9999일까지 입력할 수 있습니다.'}]">
            </form-errors>
            <div style="display: flex;">
              <p>상품 시작일 기준 &nbsp;</p><input type="number" class="form-control refund-day"
                [value]="formGroup.controls.refundPolicy0.value+1" disabled>&nbsp;일 전까지 50% 환불
            </div>
            <div style="display: flex;">
              <p>상품 시작일 기준 &nbsp;</p><input type="number" [formControlName]="'refundPolicy0'"
                class="form-control refund-day">&nbsp;일 전 이후 환불 불가
            </div>
            <form-errors [formGroup]="formGroup" [controlName]="'refundPolicy0'" [errors]="[{key:'min',meesage:'0일 이상 입력할 수 있습니다.'},{key:'max',meesage:'9999일까지 입력할 수 있습니다.'},
              {key:'isUpper',meesage:'(100% 환불 기준일 - 1) 일보다 작아야 합니다.'}]" [isUnUseDirty]="true">
            </form-errors>
          </ion-item>
          <hr>
        </div>
        <div id="test-l-11" class="content">
          <div class="next-prev">
            <ion-button color="light" (click)="prev()">이전</ion-button>
            <ion-button color="primary" [disabled]="formGroup.invalid" (click)="add()">{{submitMessage}}
            </ion-button>
          </div>
          <notion-desc [description]="descriptions[10]"></notion-desc>
          <meeting-preview [meeting]="previewMeeting" [previewImage]="previewImage"></meeting-preview>
        </div>
      </form>
    </div>
  </ion-col>
</ion-row>

<ng-template #addTpl>
  <div class="modal-header">
    <p class="modal-title pull-left">일괄 추가하기</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="addModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding: 0px">
    <ion-card>
      <ion-card-content>
        <form [formGroup]="optionAddFormGroup">
          <ion-item lines="none">
            <ion-label position="fixed">스케줄 기간<span class="invalid-input">*</span></ion-label>
            <input *ngIf="isDesktop" type="text" class="form-control" [formControlName]="'optionPeriod'"
              bsDaterangepicker [bsConfig]="{containerClass: 'theme-default', displayMonths:2}">
            <ion-icon slot="end" name="help-circle-outline" (click)="openModal(descTpl, 'period')"></ion-icon>
          </ion-item>
          <input *ngIf="!isDesktop" type="text" class="form-control" [formControlName]="'optionPeriod'"
            bsDaterangepicker [bsConfig]="{containerClass: 'theme-default', displayMonths:1}"
            (onShown)="onShowPicker($event)">
          <hr>
          <form-errors [formGroup]=" optionAddFormGroup" [controlName]="'optionPeriod'"
            [errors]="[{key:'maxDurationDays',meesage:'총 기간은 최대 1년까지 입력가능합니다.'}]"> </form-errors>
          <ion-item lines="none">
            <ion-label position="fixed">스케줄<span class="invalid-input">*</span></ion-label>
            <br>
            <ngx-cron-ui (onChangeEvent)="changeSchedule($event, true)" [config]="ngxCronUiConfig">
            </ngx-cron-ui>
            <ion-icon slot="end" name="help-circle-outline" (click)="openModal(descTpl, 'schedule')"></ion-icon>
          </ion-item>
          <hr>
          <ion-item lines="none">
            <ion-label position="fixed">옵션 설명<span class="invalid-input">*</span></ion-label>
            <!-- FIXED -->
            <ion-input type="text" [formControlName]="'oid'" clearInput hidden></ion-input>
            <ion-input type="text" [formControlName]="'optionTitle'" clearInput></ion-input>
            <ion-icon slot="end" name="help-circle-outline" (click)="openModal(descTpl, 'desc')"></ion-icon>
          </ion-item>
          <hr>
          <form-errors [formGroup]="optionAddFormGroup" [controlName]="'optionTitle'"
            [errors]="[{key:'maxlength',meesage:'100자 제한입니다.'}]"></form-errors>
          <ion-item lines="none">
            <ion-label position="fixed">가격<span class="invalid-input">*</span></ion-label>
            <ion-input type="number" [formControlName]="'optionPrice'" clearInput></ion-input>
            <ion-icon slot="end" name="help-circle-outline" (click)="openModal(descTpl, 'price')"></ion-icon>
          </ion-item>
          <hr>
          <form-errors [formGroup]="optionAddFormGroup" [controlName]="'optionPrice'"
            [errors]="[{key:'min',meesage:'0원 이상이어야 합니다.'},{key:'max',meesage:'10000000원 제한입니다.'}]">
          </form-errors>
          <ion-item lines="none">
            <ion-label position="floating">최소 인원(명)<span class="invalid-input">*</span></ion-label>
            <ion-input type="number" [formControlName]="'optionMinParticipation'" clearInput></ion-input>
          </ion-item>
          <hr>
          <form-errors [formGroup]="optionAddFormGroup" [controlName]="'optionMinParticipation'"
            [errors]="[{key:'min',meesage:'1명 이상이어야 합니다.'},{key:'max',meesage:'1000명 제한입니다.'},{key:'isUpper',meesage:'최대 인원보다 더 높을 수 없습니다.'}]">
          </form-errors>
          <ion-item lines="none">
            <ion-label position="floating">최대 인원(명)<span class="invalid-input">*</span></ion-label>
            <ion-input type="number" [formControlName]="'optionMaxParticipation'" clearInput></ion-input>
          </ion-item>
          <hr>
          <form-errors [formGroup]="optionAddFormGroup" [controlName]="'optionMaxParticipation'"
            [errors]="[{key:'min',meesage:'1명 이상이어야 합니다.'},{key:'max',meesage:'1000명 제한입니다.'}]">
          </form-errors>
          <ion-item lines="none">
            <ion-button slot="end" (click)="addSchedule()" [disabled]="optionAddFormGroup.invalid" color="primary">
              추가하기
            </ion-button>
          </ion-item>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ng-template>


<ng-template #deleteTpl>
  <div class="modal-header">
    <p class="modal-title pull-left">일괄 삭제하기</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ion-card>
      <ion-card-content>
        <form [formGroup]="optionDeleteFormGroup">
          <ion-item lines="none">
            <ion-label position="fixed">스케줄 기간<span class="invalid-input">*</span></ion-label>
            <input *ngIf="isDesktop" type="text" class="form-control" [formControlName]="'optionPeriod'"
              bsDaterangepicker [bsConfig]="{containerClass: 'theme-default', displayMonths:2}">
            <ion-icon slot="end" name="help-circle-outline" (click)="openModal(descTpl, 'period-delete')"></ion-icon>
          </ion-item>
          <input *ngIf="!isDesktop" type="text" class="form-control" [formControlName]="'optionPeriod'"
            bsDaterangepicker [bsConfig]="{containerClass: 'theme-default', displayMonths:1}"
            (onShown)="onShowPicker($event)">
          <hr>
          <ion-item lines="none">
            <ion-label position="floating">스케줄<span class="invalid-input">*</span></ion-label>
            <br>
            <ngx-cron-ui (onChangeEvent)="changeSchedule($event,false)" [config]="ngxCronUiConfig">
            </ngx-cron-ui>
            <ion-icon slot="end" name="help-circle-outline" (click)="openModal(descTpl, 'schedule-delete')"></ion-icon>
          </ion-item>
          <ion-item lines="none">
            <ion-button slot="end" (click)="searchSchedule()" [disabled]="optionDeleteFormGroup.invalid"
              color="primary">
              조회하기
            </ion-button>
          </ion-item>
        </form>
        <ng-container *ngIf="searchedOptions">
          <hr style="margin-top: 20px; margin-bottom: 20px;">
          <ng-container *ngIf="searchedOptions.length > 0">
            <ion-item lines="none">
              <ion-button slot="end" (click)="deleteSchedule()" color="medium">
                조회항목 전체삭제
              </ion-button>
            </ion-item>
            <div class="tableFixHead">
              <table class="table">
                <thead>
                  <tr>
                    <th>일시</th>
                    <th>설명</th>
                    <th>가격</th>
                    <th>최소인원</th>
                    <th>최대인원</th>
                    <th>삭제하기</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let option of searchedOptions">
                    <td>{{option.optionDate}}</td>
                    <td>{{option.optionTitle}}</td>
                    <td>{{option.optionPrice}}</td>
                    <td>{{option.optionMinParticipation}}</td>
                    <td>{{option.optionMaxParticipation}}</td>
                    <td>
                      <ion-button color="medium" style="width: 54px; height: 25px;font-size: 12px;"
                        (click)="removeFromSearched(option)">삭제하기
                      </ion-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
          <ng-container *ngIf="searchedOptions.length === 0">일치하는 구매옵션이 없습니다.😧😧</ng-container>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </div>
</ng-template>

<ng-template #descTpl>
  <div class="modal-header">
    <p class="modal-title pull-left">{{inputDesc.title}}</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngFor="let desc of inputDesc.descList">
      <p>{{desc}}</p>
    </ng-container>
  </div>
</ng-template>