<ion-row style="margin-bottom: 140px;">
  <ion-col *ngIf="!isDesktop">
    <ion-button color="medium" expand="block" size="small" (click)="showMenu()">
      <ion-icon name="grid-outline"></ion-icon>&nbsp;&nbsp;
      <span *ngIf="!isShowMenu">목록 보기</span>
      <span *ngIf="isShowMenu">목록 숨기기</span>
    </ion-button>
  </ion-col>
  <ion-col [ngStyle]="{
      'visibility':isShowMenu || isDesktop?'visible':'hidden',
       'position':isShowMenu?'block':'inline-block',
       'height':isShowMenu?'auto':'0px'}" size-lg="2" size-md="2" size-sm="12" size-xs="12" size="12" class="step-col">
    <div class="step" data-target="#test-l-1">
      <button class="trigger">
        <ion-icon
          [name]="formGroup.controls.title.valid && formGroup.controls.subTitle.valid ? 'checkmark-circle':'checkmark-circle-outline'"
          [ngStyle]="{'color': formGroup.controls.title.valid && formGroup.controls.subTitle.valid ? '#e5456e':''}">
        </ion-icon>
        상품 제목
      </button>
    </div>
    <div class="step" data-target="#test-l-2">
      <button class="trigger">
        <ion-icon [name]="formGroup.controls.fileSource.valid ? 'checkmark-circle':'checkmark-circle-outline'"
          [ngStyle]="{'color': formGroup.controls.fileSource.valid ? '#e5456e':''}">
        </ion-icon>
        대표 이미지
      </button>
    </div>
    <div class="step" data-target="#test-l-3">
      <button class="trigger">
        <ion-icon [name]="formGroup.controls.categories.valid ? 'checkmark-circle':'checkmark-circle-outline'"
          [ngStyle]="{'color': formGroup.controls.categories.valid ? '#e5456e':''}">
        </ion-icon>
        카테고리
      </button>
    </div>
    <div class="step" data-target="#test-l-4">
      <button class="trigger">
        <ion-icon
          [name]="formGroup.controls.address.valid && formGroup.controls.detailAddress.valid && formGroup.controls.runningMinutes.valid ? 'checkmark-circle':'checkmark-circle-outline'"
          [ngStyle]="{'color': formGroup.controls.address.valid && formGroup.controls.detailAddress.valid && formGroup.controls.runningMinutes.valid ? '#e5456e':''}">
        </ion-icon>
        장소/소요시간
      </button>
    </div>
    <div class="step" data-target="#test-l-5">
      <button class="trigger">
        <ion-icon [name]="formGroup.controls.price.valid ? 'checkmark-circle':'checkmark-circle-outline'"
          [ngStyle]="{'color': formGroup.controls.price.valid ? '#e5456e':''}">
        </ion-icon>
        가격
      </button>
    </div>
    <div class="step" data-target="#test-l-6">
      <button class="trigger" (click)="setCalendar()">
        <ion-icon [name]="formGroup.controls.options.valid ? 'checkmark-circle':'checkmark-circle-outline'"
          [ngStyle]="{'color': formGroup.controls.options.valid ? '#e5456e':''}">
        </ion-icon>
        구매 옵션
      </button>
    </div>
    <div class="step" data-target="#test-l-7">
      <button class="trigger">
        <ion-icon [name]="formGroup.controls.point.valid && formGroup.controls.recommend.valid && 
        formGroup.controls.programs.valid ? 'checkmark-circle':'checkmark-circle-outline'" [ngStyle]="{'color': formGroup.controls.point.valid && formGroup.controls.recommend.valid && 
          formGroup.controls.programs.valid ? '#e5456e':''}">
        </ion-icon>
        소개
      </button>
    </div>
    <div class="step" data-target="#test-l-8">
      <button class="trigger">
        <ion-icon
          [name]="formGroup.controls.check_list.valid && formGroup.controls.include.valid && formGroup.controls.exclude.valid ? 'checkmark-circle':'checkmark-circle-outline'"
          [ngStyle]="{'color': formGroup.controls.check_list.valid && formGroup.controls.include.valid && formGroup.controls.exclude.valid ? '#e5456e':''}">
        </ion-icon>
        준비물
      </button>
    </div>
    <div class="step" data-target="#test-l-9">
      <button class="trigger">
        <ion-icon [name]="formGroup.controls.notice.valid ? 'checkmark-circle':'checkmark-circle-outline'"
          [ngStyle]="{'color': formGroup.controls.notice.valid ? '#e5456e':''}">
        </ion-icon>
        유의사항
      </button>
    </div>
    <div class="step" data-target="#test-l-10">
      <button class="trigger">
        <ion-icon [name]="formGroup.controls.refundPolicy100.valid &&
        formGroup.controls.refundPolicy0.valid ? 'checkmark-circle':'checkmark-circle-outline'" [ngStyle]="{'color': formGroup.controls.refundPolicy100.valid &&
          formGroup.controls.refundPolicy0.valid ? '#e5456e':''}">
        </ion-icon>
        환불 정책
      </button>
    </div>
    <div class="step" data-target="#test-l-11">
      <button class="trigger" (click)="lastCheck()" [disabled]="formGroup.invalid"
        [ngStyle]="{'cursor':formGroup.invalid ? 'not-allowed':'pointer'}">
        <ion-icon [name]="formGroup.valid ? 'checkmark-circle':'checkmark-circle-outline'"
          [ngStyle]="{'color': formGroup.valid ? '#e5456e':''}">
        </ion-icon>
        최종 확인
      </button>
    </div>
  </ion-col>
  <ion-col size-lg="10" size-md="10" size-sm="12" size-xs="12" size="12">
    <div class="bs-stepper-content">
      <form [formGroup]="formGroup">
        <div id="test-l-1" class="content">
          <button class="nnb-btn nnb-btn-primary" (click)="next()">다음</button>
          <notion-desc [description]="descriptions[0]"></notion-desc>
          <form-input [name]="'상품 제목'" [controlName]="'title'" [group]="formGroup" [maxLength]="30"
            [errors]="[{key:'maxlength',message:'30자 제한입니다.'}]"></form-input>
          <form-input [name]="'캐치 프레이즈'" [controlName]="'subTitle'" [group]="formGroup" [maxLength]="40"
            [errors]="[{key:'maxlength',message:'40자 제한입니다.'}]"></form-input>
        </div>
        <div id="test-l-2" class="content">
          <div class="next-prev">
            <button class="nnb-btn btn-light" (click)="prev()">이전</button>
            <button class="nnb-btn nnb-btn-primary" (click)="next()">다음</button>
          </div>
          <notion-desc [description]="descriptions[1]"></notion-desc>
          <ion-item lines="none">
            <ion-label position="fixed">대표 이미지<span class="invalid-input">*</span></ion-label>
            <button class="btn btn-sm" type="button" (click)="fileInput.click()">
              <span>업로드</span>
              <input #fileInput type="file" (change)="onFileChange($event)" style="display:none;" />
            </button>
          </ion-item>
          <img *ngIf="!!previewImage" [src]="previewImage" style="width: 481px;" />
          <hr>
        </div>
        <div id="test-l-3" class="content">
          <div class="next-prev">
            <button class="nnb-btn btn-light" (click)="prev()">이전</button>
            <button class="nnb-btn nnb-btn-primary" (click)="next()">다음</button>
          </div>
          <notion-desc [description]="descriptions[2]"></notion-desc>
          <form-input [name]="'카테고리'" [controlName]="'categories'" [group]="formGroup" [type]="'select'"
            [selectList]="categories">
          </form-input>
        </div>
        <div id="test-l-4" class="content">
          <div class="next-prev">
            <button class="nnb-btn btn-light" (click)="prev()">이전</button>
            <button class="nnb-btn nnb-btn-primary" (click)="next()">다음</button>
          </div>
          <notion-desc [description]="descriptions[3]"></notion-desc>
          <ion-row>
            <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12" size="12">
              <form-input [disabled]="true" id="addressInput" [name]="'장소'" [controlName]="'address'" [type]="'text'"
                [group]="formGroup" [maxLength]="0">
              </form-input>
            </ion-col>
            <div class="col">
              <button class="nnb-btn nnb-btn-primary nnb-btn-sm" (click)="loadPostCode()">주소 검색하기</button>
              <p class="desc">(도로명 주소로 저장됩니다.)</p>
            </div>
          </ion-row>
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
          <form-input [name]="'상세 장소'" [controlName]="'detailAddress'" [group]="formGroup" [maxLength]="500"
            [errors]="[{key:'maxlength',message:'500자 제한입니다.'}]"></form-input>
          <ion-row>
            <ion-item lines="none">
              <ion-label position="fixed">소요 시간</ion-label>
            </ion-item>
            <form-input [name]="''" [controlName]="'runningHours'" [group]="formGroup" [type]="'select'"
              [selectList]="hours" [clearable]="false">
            </form-input>
            <span style="margin-top: 0.5rem;">시</span>
            <form-input [name]="''" [controlName]="'runningMinutes'" [group]="formGroup" [type]="'select'"
              [selectList]="minutes" [clearable]="false">
            </form-input>
            <span style="margin-top: 0.5rem;">분</span>
          </ion-row>
          <hr>
        </div>
        <div id="test-l-5" class="content">
          <div class="next-prev">
            <button class="nnb-btn btn-light" (click)="prev()">이전</button>
            <button class="nnb-btn nnb-btn-primary" (click)="next(true)">다음</button>
          </div>
          <notion-desc [description]="descriptions[4]"></notion-desc>
          <form-input [name]="'가격'" [controlName]="'price'" [type]="'number'" [group]="formGroup"
            (valueChangeEvent)="checkDiscountPrice()" [errors]="[{key:'max',message:'10000000원 제한입니다.'}]"
            [onlyDigit]="true">
          </form-input>
          <form-input [name]="'할인된 가격'" [controlName]="'discountPrice'" [type]="'number'" [group]="formGroup"
            [errors]="[{key:'max',message:'10000000원 제한입니다.'},{key:'isUpper',message:'할인된 가격이 더 클 수 없습니다.'}]"
            [isUnUseDirty]="true" [isRequired]="false" [onlyDigit]="true">
          </form-input>
          <br>
          <p class="desc" style="margin: 0px;">다음과 같이 표시됩니다.</p>
          <div class="preview-price">
            <price *ngIf="formGroup.controls.price.valid && formGroup.controls.discountPrice.valid"
              [price]="+formGroup.controls.price.value" [discountPrice]="+formGroup.controls.discountPrice.value">
            </price>
          </div>
        </div>
        <div id="test-l-6" class="content">
          <div class="next-prev">
            <button class="nnb-btn btn-light" (click)="prev()">이전</button>
            <button class="nnb-btn nnb-btn-primary" (click)="next()">다음</button>
          </div>
          <notion-desc [description]="descriptions[5]"></notion-desc>
          <button class="nnb-btn nnb-btn-primary" (click)="openModal(addTpl,'add')">일괄 추가하기</button>
          <button class="nnb-btn btn-light" (click)="openModal(deleteTpl, 'delete')">일괄 삭제하기</button>

          <hr style="margin-top:20px; margin-bottom:20px">
          <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>
        <div id="test-l-7" class="content">
          <div class="next-prev">
            <button class="nnb-btn btn-light" (click)="prev(true)">이전</button>
            <button class="nnb-btn nnb-btn-primary" (click)="next()">다음</button>
          </div>
          <notion-desc [description]="descriptions[6]"></notion-desc>
          <form-input [name]="'포인트'" [controlName]="'point'" [type]="'textarea'" [group]="formGroup"
            [errors]="[{key:'maxlength',message:'500자 제한입니다.'}]" [maxLength]="500">
          </form-input>
          <form-input [name]="'이런 분이 함께하면 좋아요'" [controlName]="'recommend'" [type]="'textarea'" [group]="formGroup"
            [errors]="[{key:'maxlength',message:'500자 제한입니다.'}]" [maxLength]="500">
          </form-input>
          <ion-item lines="none">
            <ion-label position="fixed">프로그램 소개<span class="invalid-input">*</span></ion-label>
          </ion-item>
          <div id="ql-toolbar">
            <button style="margin-right: 0rem;width: 1.7rem;height: 1.7rem;" class="ql-strike"></button>
            <select style="margin-right: 0rem;width: 2rem;height: 2rem;" class="ql-color"></select>
            <button style="margin-left:-0.2rem;margin-right: 0.2rem;width: 1.7rem;height: 1.7rem;"
              class="ql-link"></button>
            <button style="margin-right: 0.2rem;width: 1.7rem;height: 1.7rem;" class="ql-image"></button>
            <button style="margin-right: 0.2rem;width: 1.7rem;height: 1.7rem;" class="ql-video"></button>
            <button style="margin-right: 0.2rem;width: 1.7rem;height: 1.7rem;" class="ql-list" value="ordered"></button>
            <button style="margin-right: 0.2rem;width: 1.7rem;height: 1.7rem;" class="ql-list" value="bullet"></button>
            <select style="margin-right: 0.2rem;width: 2rem;height: 2rem;margin-top: -0.1rem;"
              class="ql-align"></select>
          </div>
          <quill-editor #quill style="-webkit-user-select: text" formControlName="programs"
            [placeholder]="'프로그램 소개를 작성해주세요'" [styles]="quillStyle" (onEditorCreated)="getEditorInstance($event, 1)">
          </quill-editor>
        </div>
        <div id="test-l-8" class="content">
          <div class="next-prev">
            <button class="nnb-btn btn-light" (click)="prev()">이전</button>
            <button class="nnb-btn nnb-btn-primary" (click)="next()">다음</button>
          </div>
          <notion-desc [description]="descriptions[7]"></notion-desc>
          <form-input [name]="'준비물'" [controlName]="'check_list'" [type]="'textarea'" [group]="formGroup"
            [errors]="[{key:'maxlength',message:'500자 제한입니다.'}]" [maxLength]="500">
          </form-input>
          <form-input [name]="'포함 사항'" [controlName]="'include'" [type]="'textarea'" [group]="formGroup"
            [errors]="[{key:'maxlength',message:'500자 제한입니다.'}]" [maxLength]="500" [isRequired]="false">
          </form-input>
          <form-input [name]="'불포함 사항'" [controlName]="'exclude'" [type]="'textarea'" [group]="formGroup"
            [errors]="[{key:'maxlength',message:'500자 제한입니다.'}]" [maxLength]="500" [isRequired]="false">
          </form-input>
        </div>
        <div id="test-l-9" class="content">
          <div class="next-prev">
            <button class="nnb-btn btn-light" (click)="prev()">이전</button>
            <button class="nnb-btn nnb-btn-primary" (click)="next()">다음</button>
          </div>
          <notion-desc [description]="descriptions[8]"></notion-desc>
          <form-input [name]="'유의 사항'" [controlName]="'notice'" [type]="'textarea'" [group]="formGroup"
            [errors]="[{key:'maxlength',message:'500자 제한입니다.'}]" [maxLength]="500" [isRequired]="false">
          </form-input>

          <ion-checkbox type="checkbox" [checked]="noticeChcked" (ionChange)="checkAllowPolicy($event)">
          </ion-checkbox>
          노는법 정책을 따르겠습니다.
        </div>
        <div id="test-l-10" class="content">
          <div class="next-prev">
            <button class="nnb-btn btn-light" (click)="prev()">이전</button>
            <button class="nnb-btn nnb-btn-primary" (click)="next()" [disabled]="formGroup.invalid">다음</button>
          </div>
          <notion-desc [description]="descriptions[9]"></notion-desc>
          <ion-item lines="none">
            <ion-label position="floating">환불 정책</ion-label>
            <br> <br>
            <p class="desc">시간은 자정 기준입니다.</p>
            <div style="display: flex;">
              <p>상품 시작일 기준 &nbsp;</p><input type="number" [formControlName]="'refundPolicy100'"
                (ngModelChange)="checkRefundPolicy0()" class="form-control refund-day">&nbsp;일 전까지 100% 환불
            </div>
            <form-errors [formGroup]="formGroup" [controlName]="'refundPolicy100'"
              [errors]="[{key:'min',message:'0일 이상 입력할 수 있습니다.'},{key:'max',message:'9999일까지 입력할 수 있습니다.'}]">
            </form-errors>
            <div style="display: flex;">
              <p>상품 시작일 기준 &nbsp;</p><input type="number" class="form-control refund-day"
                [value]="formGroup.controls.refundPolicy0.value+1" disabled>&nbsp;일 전까지 50% 환불
            </div>
            <div style="display: flex;">
              <p>상품 시작일 기준 &nbsp;</p><input type="number" [formControlName]="'refundPolicy0'"
                class="form-control refund-day">&nbsp;일 전 이후 환불 불가
            </div>
            <form-errors [formGroup]="formGroup" [controlName]="'refundPolicy0'" [errors]="[{key:'min',message:'0일 이상 입력할 수 있습니다.'},{key:'max',message:'9999일까지 입력할 수 있습니다.'},
              {key:'isUpper',message:'(100% 환불 기준일 - 1) 일보다 작아야 합니다.'}]" [isUnUseDirty]="true">
            </form-errors>
          </ion-item>
          <hr>
        </div>
        <div id="test-l-11" class="content">
          <div class="next-prev">
            <button class="nnb-btn btn-light" (click)="prev()">이전</button>
            <button class="nnb-btn nnb-btn-primary" [disabled]="formGroup.invalid" debounce-click
              (debounceClick)="add()">{{submitMessage}}</button>
          </div>
          <notion-desc [description]="descriptions[10]"></notion-desc>
          <meeting-preview [meeting]="previewMeeting" [previewImage]="previewImage"></meeting-preview>
        </div>
      </form>
    </div>
  </ion-col>
</ion-row>

<ng-template #addTpl>
  <div class="modal-header">
    <p class="modal-title pull-left">일괄 추가하기</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="addModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding: 0px">
    <ion-card>
      <ion-card-content>
        <form [formGroup]="optionAddFormGroup">
          <span class="desc" style="padding-left: 0.9rem;">상품 판매를 진행할 전체 기간을 선택해주세요.</span>
          <ion-item lines="none">
            <ion-label position="fixed">판매 기간<span class="invalid-input">*</span></ion-label>
            <input *ngIf="isDesktop" type="text" class="form-control" [formControlName]="'optionPeriod'"
              bsDaterangepicker [bsConfig]="{containerClass: 'theme-default', displayMonths:2}">
            <ion-icon slot="end" name="help-circle-outline" (click)="openModal(descTpl, 'period')"></ion-icon>
          </ion-item>
          <input *ngIf="!isDesktop" type="text" class="form-control" [formControlName]="'optionPeriod'"
            bsDaterangepicker [bsConfig]="{containerClass: 'theme-default', displayMonths:1}"
            (onShown)="onShowPicker($event)">
          <hr>
          <form-errors [formGroup]=" optionAddFormGroup" [controlName]="'optionPeriod'"
            [errors]="[{key:'maxDurationDays',message:'총 기간은 최대 1년까지 입력가능합니다.'}]"> </form-errors>
          <span class="desc" style="padding-left: 0.9rem;">매월/매주/매일 중 어떤 일정으로 진행할 지 선택해 주세요.</span>
          <ion-item lines="none">
            <ion-label position="fixed">일정<span class="invalid-input">*</span></ion-label>
            <ngx-cron-ui (onChangeEvent)="changeSchedule($event, true)" [config]="ngxCronUiConfig">
            </ngx-cron-ui>
            <ion-icon slot="end" name="help-circle-outline" (click)="openModal(descTpl, 'schedule')"></ion-icon>
          </ion-item>
          <hr>
          <span class="desc" style="padding-left: 0.9rem;">예시) 경복궁 투어 성인 1인</span>
          <form-input [name]="'옵션 제목'" [controlName]="'optionTitle'" [group]="optionAddFormGroup" [maxLength]="100"
            [errors]="[{key:'maxlength',message:'100자 제한입니다.'}]"></form-input>
          <form-input [name]="'가격'" [controlName]="'optionPrice'" [type]="'number'" [group]="optionAddFormGroup"
            [maxLength]="100" [errors]="[{key:'min',message:'0원 이상이어야 합니다.'},{key:'max',message:'10000000원 제한입니다.'}]"
            [onlyDigit]="true">
          </form-input>
          <form-input [name]="'최소 인원(명)'" [controlName]="'optionMinParticipation'" [type]="'number'"
            [group]="optionAddFormGroup"
            [errors]="[{key:'min',message:'1명 이상이어야 합니다.'},{key:'max',message:'1000명 제한입니다.'},{key:'isUpper',message:'최대 인원보다 더 높을 수 없습니다.'}]"
            [onlyDigit]="true">
          </form-input>
          <form-input [name]="'최대 인원(명)'" [controlName]="'optionMaxParticipation'" [type]="'number'"
            [group]="optionAddFormGroup"
            [errors]="[{key:'min',message:'1명 이상이어야 합니다.'},{key:'max',message:'1000명 제한입니다.'}]" [onlyDigit]="true">
          </form-input>
          <ion-item lines="none">
            <button class="nnb-btn nnb-btn-primary nnb-btn-sm" slot="end" (click)="addSchedule()"
              [disabled]="optionAddFormGroup.invalid">
              추가하기
            </button>
          </ion-item>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ng-template>


<ng-template #deleteTpl>
  <div class="modal-header">
    <p class="modal-title pull-left">일괄 삭제하기</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ion-card>
      <ion-card-content>
        <form [formGroup]="optionDeleteFormGroup">
          <ion-item lines="none">
            <ion-label position="fixed">스케줄 기간<span class="invalid-input">*</span></ion-label>
            <input *ngIf="isDesktop" type="text" class="form-control" [formControlName]="'optionPeriod'"
              bsDaterangepicker [bsConfig]="{containerClass: 'theme-default', displayMonths:2}">
            <ion-icon slot="end" name="help-circle-outline" (click)="openModal(descTpl, 'period-delete')"></ion-icon>
          </ion-item>
          <input *ngIf="!isDesktop" type="text" class="form-control" [formControlName]="'optionPeriod'"
            bsDaterangepicker [bsConfig]="{containerClass: 'theme-default', displayMonths:1}"
            (onShown)="onShowPicker($event)">
          <hr>
          <ion-item lines="none">
            <ion-label position="floating">스케줄<span class="invalid-input">*</span></ion-label>
            <br>
            <ngx-cron-ui (onChangeEvent)="changeSchedule($event,false)" [config]="ngxCronUiConfig">
            </ngx-cron-ui>
            <ion-icon slot="end" name="help-circle-outline" (click)="openModal(descTpl, 'schedule-delete')"></ion-icon>
          </ion-item>
          <ion-item lines="none">
            <button class="nnb-btn nnb-btn-primary nnb-btn-sm" slot="end" (click)="searchSchedule()"
              [disabled]="optionDeleteFormGroup.invalid">
              조회하기
            </button>
          </ion-item>
        </form>
        <ng-container *ngIf="searchedOptions">
          <hr style="margin-top: 20px; margin-bottom: 20px;">
          <ng-container *ngIf="searchedOptions.length > 0">
            <ion-item lines="none">
              <ion-button slot="end" (click)="deleteSchedule()" color="medium">
                조회항목 전체삭제
              </ion-button>
            </ion-item>
            <div class="tableFixHead">
              <table class="table">
                <thead>
                  <tr>
                    <th>일시</th>
                    <th>설명</th>
                    <th>가격</th>
                    <th>최소인원</th>
                    <th>최대인원</th>
                    <th>삭제하기</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let option of searchedOptions">
                    <td>{{option.optionDate}}</td>
                    <td>{{option.optionTitle}}</td>
                    <td>{{option.optionPrice}}</td>
                    <td>{{option.optionMinParticipation}}</td>
                    <td>{{option.optionMaxParticipation}}</td>
                    <td>
                      <ion-button color="medium" style="width: 54px; height: 25px;font-size: 12px;"
                        (click)="removeFromSearched(option)">삭제하기
                      </ion-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
          <ng-container *ngIf="searchedOptions.length === 0">일치하는 구매옵션이 없습니다.😧😧</ng-container>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </div>
</ng-template>

<ng-template #descTpl>
  <div class="modal-header">
    <p class="modal-title pull-left">{{inputDesc.title}}</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngFor="let desc of inputDesc.descList">
      <p>{{desc}}</p>
    </ng-container>
  </div>
</ng-template>