<ion-content *ngIf="!!meeting">
  <ion-grid fixed>
    <br><br>
    <p style="font-size: 20px;"><span style="font-weight: bold;">{{$any(meeting.payment.mid).title}}</span> 예약에
      성공하였습니다👍👍</p>
    <div style="text-align: center;">
      <ion-button size="small" color="medium" [routerLink]="['/tabs/home']">메인으로 가기</ion-button>
      <ion-button size="small" color="medium" [routerLink]="['/tabs/my-info']">내 모임으로 가기</ion-button>
    </div>
    <br>
    <myinfo-meeting [meeting]="meeting"></myinfo-meeting>
  </ion-grid>
</ion-content>