<ion-content>
  <ion-grid fixed>
    <ion-segment (ionChange)="segmentChanged($event)" value="join">
      <ion-segment-button value="join">
        <ion-label>등록한 모임</ion-label>
      </ion-segment-button>
      <ion-segment-button value="like">
        <ion-label>찜한 모임</ion-label>
      </ion-segment-button>
    </ion-segment>
    <br>

    <ng-container *ngIf="selectedMenu === 'join'">
      <ng-container *ngFor="let purchasedMeeeting of purchasedMeetings">
        <myinfo-meeting [meeting]="purchasedMeeeting"></myinfo-meeting>
      </ng-container>
      <ng-container *ngIf="!purchasedMeetings">
        <div style="text-align: center; opacity: 0.4;">
          <ion-chip outline>
            <ion-label color="primary">등록한 모임이 없습니다.</ion-label>
          </ion-chip>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="selectedMenu === 'like'">
      <div style="text-align: center; opacity: 0.4;">
        <ion-chip outline>
          <ion-label color="primary">서비스 추가 예정입니다.</ion-label>
        </ion-chip>
      </div>
    </ng-container>
  </ion-grid>
</ion-content>