<ion-content>
  <ion-grid fixed>
    <form [formGroup]="form">
      <ng-container *ngIf="!meeting">
        <div style="padding-top: 20px; margin-left: 25px">
          <p>결제 정보를 불러오는 중입니다. &nbsp;<img src="/assets/loading.gif" width="25" height="25"></p>
        </div>
      </ng-container>
      <ng-container *ngIf="meeting">
        <ion-card>
          <ion-card-header>
            <ion-card-title>선택한 모임</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div style="display: flex;">
              <ion-thumbnail slot="start">
                <img [src]="meeting.file" />
              </ion-thumbnail>
              <p style="margin-top:auto;margin-left: 10px;">{{meeting.title}}</p>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="meeting.options">
          <ion-card-header>
            <ion-card-title>
              구매 옵션
              <ion-button color="light" size="small" class="float-right" (click)="showAllOptions()">옵션 전체보기</ion-button>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="meeting.options.length > 0">
            <ion-calendar (select)="selectCalendar($event)" [options]="calendarOptions" [type]="'string'"
              [format]="'YYYY-MM-DD'"></ion-calendar>
            <div style="overflow-y: auto; max-height: 450px;">
              <ion-item *ngFor="let option of selectedOptionsFromCalendar">
                <ion-label class="ion-text-wrap">
                  <p class="black-label">{{option.optionTitle}}</p>
                  <p class="black-label">가격: {{option.optionPrice}}</p>
                  <p class="black-label">일시: {{option.optionTo|date:'yyyy년 MM월 dd일 HH시 mm분'}}</p>
                </ion-label>
                <ion-checkbox [checked]="!!option['checked']" (ionChange)="selectMeetingOption($event, option)">
                </ion-checkbox>
              </ion-item>
            </div>
          </ion-card-content>
          <ion-card-content *ngIf="meeting.options.length === 0">
            <p class="invalid-input">현재 구매 가능한 옵션이 없습니다. 다음 일정을 기대해주세요~!</p>
          </ion-card-content>
        </ion-card>

        <ng-container *ngIf="meeting.options.length > 0">
          <ion-card>
            <ion-card-header>
              <ion-card-title>수량</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="form.controls.options.valid">
              <div formArrayName="options" *ngFor="let option of form.get('options')['controls']; let i = index;">
                <div [formGroupName]="i">
                  <ion-item>
                    <ion-label class="ion-text-wrap black-label">{{option.value.optionTitle}}</ion-label>
                    <div style="display: flex;">
                      <ion-icon name="remove-circle-outline" style="font-size: 25px" (click)="changeCount(false, i)">
                      </ion-icon>
                      <input [formControlName]="'optionCount'" type="number" class="form-control count-input" disabled>
                      <ion-icon name="add-circle-outline" style="font-size: 25px;" (click)="changeCount(true, i)">
                      </ion-icon>
                    </div>
                  </ion-item>
                </div>
              </div>
            </ion-card-content>
            <ion-card-content *ngIf="form.controls.options.invalid">
              <p class="invalid-input">구매 옵션을 선택해주세요</p>
            </ion-card-content>
          </ion-card>

          <ion-card *ngIf="!isFree">
            <ion-card-header>
              <ion-card-title>쿠폰</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="form.controls.options.valid">
              <p class="desc">결제 금액이 {{isThanPrice|number}}원 이상일 때 쿠폰을 사용할 수 있습니다.</p>
              <ion-radio-group formControlName="coupon" (click)="selectCoupon($event)">
                <ion-item>
                  <ion-label class="ion-text-wrap">사용 안함</ion-label>
                  <ion-radio slot="start" [value]="false"></ion-radio>
                </ion-item>
                <ion-item *ngFor="let coupon of coupons">
                  <ion-label class="ion-text-wrap">{{coupon.title}} ({{coupon.price|number}}원)</ion-label>
                  <ion-radio [disabled]="isThan" slot="start" [value]="coupon"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
            <ion-card-content *ngIf="form.controls.options.invalid">
              <p class="invalid-input">구매 옵션을 선택해주세요</p>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>결제 금액</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="form.controls.options.valid">
              <ul style="padding-left: 20px;">
                <li *ngFor="let option of options.value">{{option.optionTitle}} x {{option.optionCount}}개</li>
                <li *ngIf="!!form.controls.coupon.value">쿠폰: {{form.controls.coupon.value.title}}
                  ({{form.controls.coupon.value.price|number}}원)</li>
              </ul>
              <p style="margin-left:15px;font-size:21px;color:#007bff"><strong>총 {{price|number}}원</strong></p>
            </ion-card-content>
            <ion-card-content *ngIf="form.controls.options.invalid">
              <p class="invalid-input">구매옵션과 수량 입력이 올바르지 않습니다.</p>
            </ion-card-content>
          </ion-card>

          <ion-card *ngIf="!isFree">
            <ion-card-header>
              <ion-card-title>결제 방법</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group (ionChange)="selectPaymentMethod($event)">
                <ion-item>
                  <ion-label class="ion-text-wrap">간편결제</ion-label>
                  <ion-radio slot="start" color="primary" [value]="'simple'"></ion-radio>
                </ion-item>
                <ng-container *ngIf="isSimple">
                  <p *ngIf="accounts.length === 0" class="desc" style="margin-left:68px">등록된 카드/계좌가 없습니다.</p>
                  <ng-container *ngFor="let account of accounts">
                    <ion-item style="cursor: pointer; margin-left:53px" (click)="selectSimplePay(account.PCD_PAYER_ID)">
                      <ion-label class="ion-text-wrap" *ngIf="account.PCD_PAY_TYPE === 'transfer'">
                        <h3>{{account['PCD_PAY_BANKNAME']}} ({{account['PCD_PAY_BANKNUM']}})</h3>
                      </ion-label>
                      <ion-label class="ion-text-wrap" *ngIf="account.PCD_PAY_TYPE === 'card'">
                        <h3>{{account['PCD_PAY_CARDNAME']}} ({{account['PCD_PAY_CARDNUM']}})</h3>
                      </ion-label>
                      <ion-icon [ngClass]="selectedPayerId === account.PCD_PAYER_ID? 'selected': ''"
                        [name]="selectedPayerId === account.PCD_PAYER_ID? 'checkbox': 'checkbox-outline'"
                        style="float: right; padding:20px 20px; font-size:25px;"></ion-icon>
                    </ion-item>
                  </ng-container>
                  <ion-button color="light" size="small" style="margin-left:68px" (click)="addAccount()">간편결제 관리하기
                  </ion-button>
                </ng-container>
                <ion-item>
                  <ion-label class="ion-text-wrap">카드 일반결제</ion-label>
                  <ion-radio slot="start" color="primary" [value]="'card'"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">실시간 계좌이체</ion-label>
                  <ion-radio slot="start" color="primary" [value]="'transfer'"> </ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>휴대폰 번호</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="desc">- 없이 번호만 입력해주세요</p>
              <input type="tel" class="form-control" [formControlName]="'phone'" placeholder="01012345678">
              <p class="invalid-input" *ngIf="form.controls.phone.invalid">입력이 올바르지 않습니다.</p>
            </ion-card-content>
          </ion-card>
        </ng-container>
        <ion-row>
          <ion-col>
            <ion-button *ngIf="!isFree" expand="block" (click)="pay()" [disabled]="form.invalid">결제하기</ion-button>
            <ion-button *ngIf="isFree" expand="block" (click)="join()" [disabled]="form.invalid">무료 참여하기</ion-button>
          </ion-col>
        </ion-row>
      </ng-container>
    </form>
  </ion-grid>
</ion-content>