.selected {
    color: #007bff;
}

.black-label {
    color: black;
}

.count-input {
    border: 0px;
    max-width: 50px;
    text-align: center;
    background: #ffffff;
    margin-top: -5px;
    padding: 0px;
}

:host::ng-deep ion-calendar .today>p {
    color: rgba(0, 0, 0, 0.25) !important;
    font-weight: none !important;
}

:host::ng-deep ion-calendar .marked>p {
    font-size: 20px !important;
    color: #0053e6 !important;
    font-weight: bold !important;
}