.selected {
    color: #007bff;
}

.black-label {
    color: black;
}

.count-input {
    border: 0px;
    max-width: 50px;
    text-align: center;
    background: #ffffff;
    margin-top: -5px;
    padding: 0px;
}