<ion-content>
  <ion-grid fixed style="margin-top: 4rem">
    <div style="padding:0rem 4rem">
      <div style="text-align: center;">
        <p class="main_sentence" style="font-size: 1.3rem;font-weight: 600;">비밀번호 변경하기</p>

        <form-input [name]="'비밀번호'" [controlName]="'password'" [type]="'password'" [group]="form" [maxLength]="20"
          [errors]="[{key:'maxlength',message:'20자 제한입니다.'}]" (valueChangeEvent)="isMathPassword()"></form-input>
        <form-input [name]="'비밀번호 확인'" [controlName]="'checkPassword'" [type]="'password'" [group]="form"
          [maxLength]="20"
          [errors]="[{key:'maxlength',message:'20자 제한입니다.'},{key:'isNotSame',message:'비밀번호가 일치하지 않습니다.'}]">
        </form-input>
        <button class="nnb-btn nnb-btn-primary nnb-btn-block" [disabled]="!form.valid" (click)="resetPassword()">
          비밀번호 변경하기
        </button>
      </div>
    </div>
  </ion-grid>
</ion-content>