<ion-content>
  <ion-grid fixed>
    <ng-container *ngIf="!!user && !!kakaoUser && !!kakaoUser.properties">
      <ion-list style="margin: 30px 0px 25px 0px">
        <ion-item lines="none">
          <ion-avatar slot="start" style="width: 80px; height: 80px;margin-left:20px">
            <img [src]="kakaoUser.properties.thumbnail_image">
          </ion-avatar>
          <ion-label style="color: #3f3e3e;">{{kakaoUser.properties.nickname}}</ion-label>
          <div style="display: flex; flex-direction: column;">
            <ion-chip color="primary" (click)="editUser()">
              <ion-icon name="settings-outline"></ion-icon>
              <ion-label>계정 설정</ion-label>
            </ion-chip>
            <ion-chip color="tertiary" (click)="goToHost()">
              <ion-icon name="log-out-outline"></ion-icon>
              <ion-label>호스트센터</ion-label>
            </ion-chip>
          </div>
        </ion-item>
      </ion-list>
      <ion-list>
        <ng-container *ngFor="let menu of menus">
          <ng-container *ngFor="let item of menu.items">
            <ion-item style="cursor: pointer;" (click)="item.onClick()">
              <ion-label [ngStyle]="{'opacity':item.disable ? 0.3 : 1}">{{item.label}}</ion-label>
              <span class="badge" [ngClass]="item.badgeIcon" *ngIf="item.isBadge">{{item.badge}}</span>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-list>
    </ng-container>
  </ion-grid>
</ion-content>