<ion-content *ngIf="!!user">
  <ion-grid fixed>
    <ion-row style="margin-top:20px;">
      <ion-col class="center" style="display: flex;flex-direction: column;">
        <ion-avatar style="width: 80px; height: 80px;">
          <img [src]="user.image">
        </ion-avatar>
        <button class="btn btn-sm" type="button" (click)="fileInput.click()">
          <span>업로드</span>
          <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
        </button>
      </ion-col>
    </ion-row>
    <form [formGroup]="form">
      <ion-item>
        <ion-label position="floating">닉네임</ion-label>
        <ion-input type="text" [formControlName]="'nickname'" clearInput></ion-input>
        <p *ngIf="form.controls.nickname.valid" class="maximun-info">
          {{form.controls.nickname.value.length}} / 최대 30자
        </p>
        <form-errors [formGroup]="form" [controlName]="'nickname'" [isRequired]="false"
          [errors]="[{key:'maxlength',message:'30자까지 입력할 수 있습니다.'}]">
        </form-errors>
      </ion-item>
      <ion-item>
        <ion-label position="floating">한줄 소개</ion-label>
        <ion-input type="text" [formControlName]="'catchphrase'" clearInput></ion-input>
        <p *ngIf="form.controls.catchphrase.valid" class="maximun-info">
          {{form.controls.catchphrase.value.length}} / 최대 30자
        </p>
        <form-errors [formGroup]="form" [controlName]="'catchphrase'" [isRequired]="false"
          [errors]="[{key:'maxlength',message:'30자까지 입력할 수 있습니다.'}]">
        </form-errors>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">설명</ion-label>
        <ion-textarea rows="4" maxlength="300" [formControlName]="'introduction'">
        </ion-textarea>
        <p *ngIf="form.controls.introduction.valid" class="maximun-info">
          {{form.controls.introduction.value.length}} / 최대 300자
        </p>
        <form-errors [formGroup]="form" [controlName]="'introduction'" [isRequired]="false"
          [errors]="[{key:'maxlength',message:'300자까지 입력할 수 있습니다.'}]">
        </form-errors>
      </ion-item>
    </form>
    <button class="primary-btn" (click)="editUser()" [disabled]="form.invalid">저장하기</button>
  </ion-grid>
</ion-content>