<ion-content *ngIf="!!user">
  <ion-grid fixed>
    <ion-row style="margin-top:20px;">
      <ion-col class="center" style="display: flex;flex-direction: column;">
        <ion-avatar style="width: 80px; height: 80px;">
          <img [src]="user.image">
        </ion-avatar>
        <button class="btn btn-sm" type="button" (click)="fileInput.click()">
          <span>업로드</span>
          <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
        </button>
      </ion-col>
    </ion-row>
    <form [formGroup]="form">
      <form-input [name]="'닉네임'" [controlName]="'nickname'" [group]="form" [maxLength]="30"
        [errors]="[{key:'maxlength',message:'30자 제한입니다.'}]"></form-input>

      <form-input [name]="'한줄 소개'" [controlName]="'catchphrase'" [group]="form" [maxLength]="30"
        [errors]="[{key:'maxlength',message:'30자 제한입니다.'}]"></form-input>

      <form-input [name]="'설명'" [controlName]="'introduction'" [type]="'textarea'" [group]="form"
        [errors]="[{key:'maxlength',message:'300자 제한입니다.'}]" [maxLength]="300">
      </form-input>
    </form>
    <br>
    <button class="nnb-btn nnb-btn-primary nnb-btn-block" (click)="editUser()" [disabled]="form.invalid">저장하기</button>
  </ion-grid>
</ion-content>