<ion-content *ngIf="post">
  <ion-grid fixed style="margin-top:0.5rem;">
    <div class="card">
      <div class="card-body">
        <div style="display: flex;justify-content: space-between;">
          <div style="display: flex;">
            <img [src]="post.author.profile_image_url" class="profile-img" [alt]="post.author.name">
            <div>
              <span>{{post.author.name}}</span><br>
              <span class="desc">{{post.created_at|date:'yyyy년 MM월 dd일 HH:mm'}}</span><br>
            </div>
          </div>
          <span class="desc">
            <ion-icon name="eye-outline"></ion-icon> {{post.post_read_count}}
          </span>
        </div>
        <br>
        <p class="pre-wrap" [innerHtml]="post.content"></p>
      </div>
      <div class="card-footer bg-transparent">
        <span class="desc">좋아요 {{post.emotion_count}}</span>&nbsp;
        <span class="desc">댓글 {{post.comment_count}}</span>
        <ion-icon *ngIf="+post.comment_count > 0" class="float-right" style="font-size: 1.5rem; cursor: pointer;"
          (click)="showComments(post.post_key)" name="chevron-down-circle-outline">
        </ion-icon>
        <div *ngIf="post.comments" style="padding: 1rem;">
          <ng-container *ngFor="let comment of post.comments; let last=last">
            <div style="display: flex;">
              <img [src]="comment.author.profile_image_url" class="profile-img">
              <div>
                <p style="margin-bottom: 0px;">{{comment.author.name}}</p>
                <p *ngIf="comment.content" style="margin-bottom: 0px;" class="pre-wrap">{{comment.content}}</p>
                <img *ngIf="comment.sticker" [src]="comment.sticker.url" class="sticker">
                <img *ngIf="comment.photo" [src]="comment.photo.url" class="photo">
                <p style="margin-bottom: 0px;" class="desc">{{comment.created_at|date:'MM월 dd일 HH:mm'}} 좋아요
                  {{comment.emotion_count}}</p>
              </div>
            </div>
            <hr *ngIf="!last">
          </ng-container>
        </div>
      </div>
    </div>
    <br>
  </ion-grid>
</ion-content>