:host::ng-deep .ql-editor {
    overflow-y: auto;
    height: 500px;
    resize: vertical;
    padding: 0px;
}

:host::ng-deep .ql-editor h3 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(27, 28, 29);
    line-height: 28px;
    margin: 36px 0px 0px;
}

:host::ng-deep .ql-editor h4 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(27, 28, 29);
    line-height: 28px;
    margin: 36px 0px 0px;
}

:host::ng-deep .ql-editor p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(27, 28, 29);
    line-height: 24px;
    letter-spacing: -0.3px;
    margin: 0px;
    padding: 4px 0px;
}

:host::ng-deep .ql-editor ul>li {
    font-size: 16px;
    font-weight: 400;
    color: rgb(27, 28, 29);
    line-height: 24px;
    letter-spacing: -0.3px;
    margin: 0px;
}

:host::ng-deep .ql-editor ol>li {
    font-size: 16px;
    font-weight: 400;
    color: rgb(27, 28, 29);
    line-height: 24px;
    letter-spacing: -0.3px;
    margin: 0px;
}

:host::ng-deep .ql-editor blockquote {
    font-size: 16px;
    font-weight: 400;
    color: rgb(27, 28, 29);
    line-height: 24px;
    letter-spacing: -0.3px;
    margin: 0px;
}

@media screen and (min-width: 568px) {
    :host::ng-deep .ql-video {
        width: 800px;
        height: 457px;
    }
}

@media screen and (max-width: 567px) {
    :host::ng-deep .ql-video {
        width: 800px;
        height: 233px;
    }
}