<ion-content>
  <ion-grid fixed>
    <form [formGroup]="form">
      <ion-item>
        <ion-label position="floating">이름</ion-label>
        <ion-input type="text" [formControlName]="'name'" clearInput></ion-input>
        <div ngxErrors="name">
          <div ngxError="maxlength" [when]="['dirty']">
            <p class="invalid-input">30자 제한입니다.</p>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">설명</ion-label>
        <ion-textarea #comment rows="2" placeholder="" maxlength="300" [formControlName]="'description'" clearInput>
        </ion-textarea>
        <div ngxErrors="description">
          <div ngxError="maxlength" [when]="['dirty']">
            <p class="invalid-input">300자 제한입니다.</p>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">성별</ion-label>
        <ion-select okText="확인" cancelText="취소" [formControlName]="'gender'">
          <ion-select-option [value]="'male'">남성</ion-select-option>
          <ion-select-option [value]="'female'">여성</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">생년월일</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [formControlName]="'birthday'"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">이메일</ion-label>
        <ion-input type="text" [formControlName]="'email'" clearInput></ion-input>
        <div ngxErrors="email">
          <div ngxError="maxlength" [when]="['dirty']">
            <p class="invalid-input">30자 제한입니다.</p>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">휴대폰 번호</ion-label>
        <ion-input type="text" [formControlName]="'phone'" clearInput></ion-input>
        <div ngxErrors="phone">
          <div ngxError="maxlength" [when]="['dirty']">
            <p class="invalid-input">30자 제한입니다.</p>
          </div>
        </div>
        <ion-button color="warning" class="float-right">인증하기</ion-button>
      </ion-item>
    </form>
    <ion-button color="warning" expand="full" (click)="editUser()" [disabled]="form.invalid">저장하기</ion-button>
  </ion-grid>
</ion-content>