<ion-content>
  <ion-grid fixed>
    <form [formGroup]="form">
      <ng-container *ngIf="!meeting">
        <div style="padding-top: 20px; margin-left: 25px">
          <p>결제 정보를 불러오는 중입니다. &nbsp;<img src="/assets/loading.gif" width="25" height="25"></p>
        </div>
      </ng-container>
      <ng-container *ngIf="meeting">
        <ng-container *ngIf="meeting.status === ProductStatus.ENTERED">
          <ng-container *ngIf="options.length > 0">
            <div class="card">
              <p class="title">결제 금액</p>
              <div style=" display: flex;">
                <ion-thumbnail slot="start">
                  <img [src]="meeting.representationPhotos[0].photo" />
                </ion-thumbnail>
                <p style="margin-top:auto;margin-left: 10px;">{{meeting.title}}</p>
              </div>
              <hr>
              <div *ngFor="let option of options">
                <span class="desc" style="font-weight: 500;">{{option.name}}</span><br>
                <span class="desc">{{option.count}} x ₩{{option.price|number}}&nbsp;&nbsp;</span>
                <span class="float-right"
                  style="margin-right: 1.2rem;"><strong>{{option.count*option.price|number}}원</strong></span>
                <hr>
              </div>
              <div *ngIf="!!form.controls.coupon.value">
                <span class="desc" style="font-weight: 500;">쿠폰: {{form.controls.coupon.value.name}}</span>
                <span class="float-right" style="margin-right: 1.2rem;"><strong>-
                    {{form.controls.coupon.value.price|number}}원</strong></span>
                <hr>
              </div>
              <p style="font-size:1.4rem;color:#ff4081">
                <strong>총 {{price|number}}원</strong>
              </p>
            </div>

            <div class="card" *ngIf="!!coupons">
              <p class="title">쿠폰</p>
              <ng-container *ngIf="coupons.length === 0">
                <p class="desc">사용 가능한 쿠폰이 없습니다.</p>
              </ng-container>
              <ng-container *ngIf="coupons.length > 0">
                <ng-container>
                  <p class="desc">결제 금액이 {{isThanPrice|number}}원 이상일 때 쿠폰을 사용할 수 있습니다.</p>
                  <ion-radio-group formControlName="coupon" (click)="selectCoupon($event)">
                    <ion-item>
                      <ion-label class="ion-text-wrap">사용 안함</ion-label>
                      <ion-radio slot="start" [value]="false"></ion-radio>
                    </ion-item>
                    <ion-item *ngFor="let coupon of coupons">
                      <ion-label class="ion-text-wrap">{{coupon.name}} ({{coupon.price|number}}원)</ion-label>
                      <ion-radio [disabled]="isThan" slot="start" [value]="coupon"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ng-container>
              </ng-container>
            </div>

            <div class="card">
              <p class="title">결제 방법</p>
              <ion-radio-group [formControlName]="'payMethod'">
                <ion-item>
                  <ion-label class="ion-text-wrap"
                    [ngStyle]="{'color': this.form.controls.payMethod.value ==='card' ? '#e5456e':'', 'font-weight':this.form.controls.payMethod.value ==='card'? 'bold':''}">
                    <div style="display: flex;">
                      <ion-icon *ngIf="this.form.controls.payMethod.value !== 'card'" name="card-outline"></ion-icon>
                      <ion-icon *ngIf="this.form.controls.payMethod.value == 'card'" name="card"></ion-icon>
                      &nbsp;
                      <p
                        [ngStyle]="{'color': this.form.controls.payMethod.value ==='card' ? '#e5456e':'', 'font-weight':this.form.controls.payMethod.value ==='card'? 'bold':''}">
                        카드 일반결제</p>
                    </div>
                  </ion-label>
                  <ion-radio slot="start" [value]="'card'"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap"
                    [ngStyle]="{'color': this.form.controls.payMethod.value ==='transfer' ? '#e5456e':'', 'font-weight':this.form.controls.payMethod.value ==='transfer'? 'bold':''}">
                    <div style="display: flex;">
                      <ion-icon *ngIf="this.form.controls.payMethod.value !== 'transfer'" name="flash-outline">
                      </ion-icon>
                      <ion-icon *ngIf="this.form.controls.payMethod.value == 'transfer'" name="flash"></ion-icon>
                      &nbsp;
                      <p
                        [ngStyle]="{'color': this.form.controls.payMethod.value ==='transfer' ? '#e5456e':'', 'font-weight':this.form.controls.payMethod.value ==='transfer'? 'bold':''}">
                        실시간 계좌이체</p>
                    </div>
                  </ion-label>
                  <ion-radio slot="start" [value]="'transfer'"> </ion-radio>
                </ion-item>
              </ion-radio-group>
            </div>

            <div class="card"
              *ngIf="(!phoneNumber || !alreadyExistPhone) || (!this.form.controls.name.value || !alreadyExistName)">
              <p class="title">예약자 정보</p>
              <form-input *ngIf="!this.form.controls.name.value || !alreadyExistName" [name]="'이름'"
                [controlName]="'name'" [group]="form" [errors]="[{key:'maxlength',message:'30자 제한입니다.'}]"
                [maxLength]="30" [isRequired]="false">
              </form-input>
              <ion-item lines="none" *ngIf="!phoneNumber || !alreadyExistPhone">
                <ion-label position="fixed">휴대폰 번호</ion-label>
                <auth-sms [user]="user" [phoneNumber]="phoneNumber" (phoneAddEvent)="onAddPhone($event)"></auth-sms>
              </ion-item>
            </div>

          </ng-container>
          <ion-row>
            <ion-col>
              <button class="nnb-btn nnb-btn-primary nnb-btn-lg nnb-btn-block" (click)="pay()"
                [disabled]="form.invalid || !phoneNumber">결제하기</button>
            </ion-col>
          </ion-row>
        </ng-container>
        <ng-container *ngIf="meeting.status !== ProductStatus.ENTERED">
          <ion-chip color="danger">
            <ion-label>비활성된 상품입니다.</ion-label>
          </ion-chip>
        </ng-container>
      </ng-container>
    </form>
  </ion-grid>
</ion-content>