<div class="footer">
  <ion-row style="margin-bottom: 10px;">
    <ion-col size-md="3" size-xs="12" offset-md="3" offset-xs="0">
      <img src="/assets/nonunbub-logo-footer.png" style="width:80px">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="3" size-xs="12" offset-md="3" offset-xs="0">
      <ul class="footer-list">
        <li>(주)바바그라운드</li>
        <li>대표이사: 허정 | 사업자등록번호: 393-87-01601</li>
        <li>관광사업자 등록번호: 제2020-01호</li>
        <li>통신판매업신고번호 : 2020-서울강남-02841</li>
        <li>
          <a href="https://blog.naver.com/babaground" class="footer-link" target="_blank">
            <img src="/assets/sns-icon/footer-naver-blog.png" style="width:20px">&nbsp;네이버 블로그
          </a>&nbsp;
          <a href="https://band.us/band/75866264" class="footer-link" target="_blank">
            <img src="/assets/sns-icon/footer-naver-band.png" style="width:20px">&nbsp;네이버 밴드
          </a>
        </li>
      </ul>
    </ion-col>
    <ion-col size-md="3" size-xs="12">
      <ul class="footer-list">
        <li>이메일: nonunbub@gmail.com</li>
        <li>주소: 서울특별시 강남구 역삼로 215(역삼동, 남국빌딩 2층)</li>
        <li>담당자: 032-321-1917</li>
        <li style="margin-top: 15px;">
          <a class="footer-link" href="https://www.notion.so/gdgdaejeon/f381a7c4327a4ddb9095dd6b0cdd00c9">노는법 소개</a>
          &nbsp;&nbsp;
          <a class="footer-link" href="https://www.notion.so/gdgdaejeon/43b16b117aa840d397a71350a8d08412">이용약관</a>
          &nbsp;&nbsp;
          <a class="footer-link" style="font-weight: bold;"
            href="https://www.notion.so/gdgdaejeon/5ad28ab509bb461090e2bca00af5ac59">개인정보처리방침</a>
        </li>
      </ul>
    </ion-col>
  </ion-row>
</div>