<ion-content>
  <ion-grid fixed style="margin-top: 4rem">
    <div style="padding:0rem 4rem">
      <div style="text-align: center;">
        <p class="main_sentence" style="font-size: 1.3rem;font-weight: 600;">비밀번호 찾기</p>
        <p class="main_sentence" style="margin-bottom: 10px;">계정에 연결된 이메일 주소를 입력하면 암호를 초기화 하는 링크를 이메일로 드립니다.</p>

        <form-input [name]="'이메일'" [controlName]="'email'" [group]="form" [maxLength]="254"
          [errors]="[{key:'maxlength',message:'254자 제한입니다.'},{key:'email',message:'이메일이 형식이 아닙니다.'}]"></form-input>
        <button class="nnb-btn nnb-btn-primary nnb-btn-block" [disabled]="!form.valid" (click)="send()">
          인증 메일 전송하기
        </button>
      </div>
    </div>
  </ion-grid>
</ion-content>