.link {
    color: #3880ff;
    cursor: pointer;
}

.banner-container {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.banner-container img {
    width: 40%;
    height: auto;
}

.banner-container .btn {
    position: absolute;
    top: 3%;
    left: 34%;
}

.card-body p {
    margin: 0px;
}

.list-group-item {
    text-align: center;
}

.list-group-item.active {
    background-color: #e4456e;
    border-color: #e4456e;
}