<ion-content>
  <ion-grid>
    <ngx-table [id]="'reservation-table'" [configuration]="configuration" [data]="payments" [columns]="columns"
      [pagination]="pagination" (event)="onTableEvent($event)">
      <ng-template let-row let-index="index">
        <td>{{ (pagination.offset-1) * pagination.limit + (index+1)}}</td>
        <td>
          <img width="50" height="50" [src]="row.order.product.representationPhotos[0].photo">
        </td>
        <td>{{ row.payAt|date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>
          <a target="_blank" [href]="'/tabs/meeting-detail/' + row.order.product.id">{{row.order.product.title}}</a>
        </td>
        <td>
          <a target="_blank" [href]="'/tabs/profile/' + row.order.user.id">{{ row.order.user.name }}</a>
        </td>
        <td>{{ row.order.user.nickname }}</td>
        <td>{{ row.order.user.phoneNumber }}</td>
        <td>
          <ng-container *ngFor="let item of row.order.orderItems; let last = last">
            <div class="card" [ngStyle]="{'margin-bottom':!last ? '0.2rem':'0rem'}">
              <div class="card-body" style="padding: 0.7rem">
                <ion-chip *ngIf="item.productOption.isOld">
                  <ion-label style="font-size: 12px;">이전옵션</ion-label>
                </ion-chip>
                <p>옵션: {{item.productOption.name}}</p>
                <p>가격: {{item.productOption.price}}</p>
                <p>일시: {{item.productOption.date|date:'yyyy-MM-dd HH:mm'}}</p>
                <p>수량: {{item.count}}</p>
              </div>
            </div>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="row.order.coupon">
            {{ row.order.coupon.name }} ({{row.order.coupon.price|number}}원)
          </ng-container>
          <ng-container *ngIf="!row.order.coupon">
            <ion-chip>
              <ion-label style="font-size: 12px;">없음</ion-label>
            </ion-chip>
          </ng-container>
        </td>
        <td>{{ row.pgName }}</td>
        <td>{{ row.payPrice }}</td>
        <td>{{ row.id }}</td>
        <td>{{ row.resultMessage }}</td>
        <td>{{ row.payMethod }}</td>
        <td>{{ row.result }}</td>
      </ng-template>
    </ngx-table>
  </ion-grid>
</ion-content>