<ion-card *ngIf="!!meeting">
  <ion-row>
    <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12" size="12">
      <img style="max-height: 275px; cursor: pointer;" [src]="$any(meeting.payment.mid).file"
        (click)="goDetailPage(meeting.payment.mid)" />
      <ion-card-header (click)="goDetailPage(meeting.payment.mid)">
        <ion-card-title>{{$any(meeting.payment.mid).title}}</ion-card-title>
        <ion-card-subtitle>{{$any(meeting.payment.mid).subTitle}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
    <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12" size="12">
      <ion-card-content>
        <ion-chip outline color="tertiary">
          <ion-label>결제 정보</ion-label>
        </ion-chip>
        <p>주문번호: {{meeting.payment.PCD_PAY_OID}}</p>
        <p>결제일시: {{meeting.payment.PCD_PAY_TIME}}</p>
        <p>결제금액: {{meeting.payment.PCD_PAY_TOTAL|number}}원</p>
        <p *ngIf="meeting.payment.isRefund">환불금액: {{meeting.payment.PCD_REFUND_TOTAL|number}}원</p>

        <ng-container *ngIf="meeting.payment.PCD_PAY_TYPE === 'card'">
          <p>카드사: {{meeting.payment.PCD_PAY_CARDNAME}}</p>
          <p>카드번호: {{meeting.payment.PCD_PAY_CARDNUM}}</p>
          <p *ngIf="!meeting.payment.isRefund"><a [href]="meeting.payment.PCD_PAY_CARDRECEIPT" target="_blank">매출전표
              확인하기</a></p>
          <p *ngIf="meeting.payment.isRefund"><a [href]="meeting.payment.PCD_PAY_REFUND_CARDRECEIPT"
              target="_blank">매출전표 확인하기</a></p>
        </ng-container>

        <ng-container *ngIf="meeting.payment.PCD_PAY_TYPE === 'transfer'">
          <p>은행명: {{meeting.payment.PCD_PAY_BANKNAME}}</p>
          <p>계좌번호: {{meeting.payment.PCD_PAY_BANKNUM}}</p>
        </ng-container>
        <br>
        <ion-chip outline color="primary">
          <ion-label>구매 옵션</ion-label>
        </ion-chip>
        <ng-container *ngFor="let option of meeting.options;let last = last">
          <p>옵션: {{option.optionTitle}}</p>
          <p>시작일: {{option.optionDate|date:'yyyy년 MM월 dd일 HH시 mm분'}}</p>
          <p>가격: {{option.optionPrice}}원</p>
          <p>수량: {{$any(option).count}}개</p>
          <hr *ngIf="!last">
        </ng-container>
        <ng-container *ngIf="meeting.payment.couponId">
          <br>
          <ion-chip outline color="success">
            <ion-label>쿠폰</ion-label>
          </ion-chip>
          <p>{{$any(meeting.payment.couponId).title}}
            ({{$any(meeting.payment.couponId).price|number}}원)
          </p>
        </ng-container>
        <br>
        <!-- <ion-button *ngIf="!meeting.payment.isRefund" color="medium" size="small" (click)="cancel(meeting)">취소하기
        </ion-button> -->
        <ion-button *ngIf="meeting.payment.isRefund" color="medium" size="small" disabled>환불 완료된 모임입니다.</ion-button>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>