<div style="display: flex; padding:1rem">
  <a [href]="'/tabs/meeting-detail/' + payment.order.product.id" style="text-decoration: none; color: black;">
    <img style=" cursor: pointer; width: 5rem;height:4rem"
      [src]="payment.order.product.representationPhotos[0].photo" />
  </a>&nbsp;&nbsp;&nbsp;&nbsp;
  <div>
    <p style="margin-bottom: 0rem;">{{payment.order.product.title | truncate:[27]}}</p>
    <p style="margin-bottom: 0rem;">총 결제금액: {{payment.payPrice|number}}원</p>
    <p style="margin-bottom: 0.3rem;" class="desc">{{payment.order.orderItems.length}}개의 구매옵션</p>
    <a [href]="'/tabs/my-info-detail/' + payment.id" style="text-decoration: none; color: black;">
      <button class="nnb-btn nnb-btn-secondary nnb-btn-sm">결제 상세보기</button>
    </a>
  </div>
</div>