<ion-content>
  <ion-grid fixed>

    <form [formGroup]="signupForm">
      <form-input [name]="'이메일'" [controlName]="'email'" [group]="signupForm" [maxLength]="254"
        [errors]="[{key:'maxlength',message:'254자 제한입니다.'},{key:'email',message:'이메일 형식이 아닙니다.'}]"></form-input>
      <form-input [name]="'이름'" [controlName]="'name'" [group]="signupForm" [maxLength]="50"
        [errors]="[{key:'maxlength',message:'50자 제한입니다.'}]"></form-input>
      <form-input [name]="'닉네임'" [controlName]="'nickname'" [group]="signupForm" [maxLength]="50"
        [errors]="[{key:'maxlength',message:'50자 제한입니다.'}]"></form-input>
      <form-input [name]="'비밀번호'" [controlName]="'password'" [type]="'password'" [group]="signupForm" [maxLength]="20"
        [errors]="[{key:'maxlength',message:'20자 제한입니다.'}]" (valueChangeEvent)="isMathPassword()"></form-input>
      <form-input [name]="'비밀번호 확인'" [controlName]="'checkPassword'" [type]="'password'" [group]="signupForm"
        [maxLength]="20"
        [errors]="[{key:'maxlength',message:'20자 제한입니다.'},{key:'isNotSame',message:'비밀번호가 일치하지 않습니다.'}]">
      </form-input>
      <ion-item>
        <ion-label>휴대폰</ion-label>
      </ion-item>
      <auth-sms [formGroup]="signupForm" [controlName]="'phoneNumber'" [isDesc]="!phoneNumber"
        [phoneNumber]="phoneNumber" (phoneAddEvent)="onAddPhone($event)">
      </auth-sms>
      <br>
      <ion-row>
        <ion-col>
          <p>
            <ion-checkbox (click)="checkAll()"></ion-checkbox> 전체 동의하기
          </p>
          <hr>
          <p>
            <ion-checkbox [formControlName]="'service'"></ion-checkbox> 노는법 서비스 이용약관 동의 (필수)
            <a [href]="termsOfService" class="float-right" target="_blank">보기</a>
          </p>
          <p>
            <ion-checkbox [formControlName]="'personal'"></ion-checkbox> 개인정보 수집 이용 동의 (필수)
            <a [href]="collectPersonal" class="float-right" target="_blank">보기</a>
          </p>
          <p>
            <ion-checkbox [formControlName]="'marketing'"></ion-checkbox> 마케팅 정보 수신 (선택)
          </p>
        </ion-col>
      </ion-row>
      <button class="nnb-btn nnb-btn-primary nnb-btn-block" [disabled]="!signupForm.valid" (click)="signup()">회원 가입
      </button>
    </form>
    <ion-row>
      <ion-col>
        <hr>
        <p style="text-align: center;">또는</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="warning" expand="full" (click)="login()"><img width="28" height="28"
            src="../../../assets/kakaotalk_logo.png">
          <span style="color: black">카카오톡 계정으로 시작하기</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>