<ng-container *ngIf="isUnUseDirty">
  <ng-container *ngIf="formGroup.controls[controlName].errors">
    <div *ngIf="isRequired && formGroup.controls[controlName].errors.required">
      <p class="invalid-input">필수 입력 항목입니다.</p>
    </div>
    <div *ngFor="let error of errors">
      <div *ngIf="formGroup.controls[controlName].errors[error.key]">
        <p class="invalid-input">{{error.meesage}}</p>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="!isUnUseDirty">
  <div *ngIf="formGroup.controls[controlName].dirty">
    <ng-container *ngIf="formGroup.controls[controlName].errors">
      <div *ngIf="isRequired && formGroup.controls[controlName].errors.required">
        <p class="invalid-input">필수 입력 항목입니다.</p>
      </div>
      <div *ngFor="let error of errors">
        <div *ngIf="formGroup.controls[controlName].errors[error.key]">
          <p class="invalid-input">{{error.meesage}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>