<ion-col size-lg="2" size-md="2" size-sm="12" size-xs="12" size="12" class="step-col">
  <div class="step" data-target="#test-l-1">
    <button class="trigger">
      <ion-icon *ngIf="formGroup.controls.title.invalid || formGroup.controls.subTitle.invalid"
        name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="formGroup.controls.title.valid && formGroup.controls.subTitle.valid" name="checkmark-circle"
        style="color:#28a745">
      </ion-icon>
      모임 이름
    </button>
  </div>
  <div class="step" data-target="#test-l-2">
    <button class="trigger">
      <ion-icon *ngIf="formGroup.controls.fileSource.invalid" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="formGroup.controls.fileSource.valid" name="checkmark-circle" style="color:#28a745">
      </ion-icon>
      대표 이미지
    </button>
  </div>
  <div class="step" data-target="#test-l-3">
    <button class="trigger">
      <ion-icon *ngIf="formGroup.controls.categories.invalid" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="formGroup.controls.categories.valid" name="checkmark-circle" style="color:#28a745">
      </ion-icon>
      카테고리
    </button>
  </div>
  <div class="step" data-target="#test-l-4">
    <button class="trigger">
      <ion-icon *ngIf="formGroup.controls.address.invalid || formGroup.controls.detailAddress.invalid"
        name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="formGroup.controls.address.valid && formGroup.controls.detailAddress.valid"
        name="checkmark-circle" style="color:#28a745">
      </ion-icon>
      장소
    </button>
  </div>
  <div class="step" data-target="#test-l-5">
    <button class="trigger">
      <ion-icon *ngIf="formGroup.controls.from.invalid || formGroup.controls.to.invalid"
        name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="formGroup.controls.from.valid && formGroup.controls.to.valid" name="checkmark-circle"
        style="color:#28a745">
      </ion-icon>
      기간
    </button>
  </div>
  <div class="step" data-target="#test-l-6">
    <button class="trigger">
      <ion-icon *ngIf="formGroup.controls.limitPerson.invalid" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="formGroup.controls.limitPerson.valid" name="checkmark-circle" style="color:#28a745">
      </ion-icon>
      인원
    </button>
  </div>
  <div class="step" data-target="#test-l-7">
    <button class="trigger">
      <ion-icon *ngIf="formGroup.controls.price.invalid || formGroup.controls.discountPrice.invalid"
        name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="formGroup.controls.price.valid &&formGroup.controls.discountPrice.valid" name="checkmark-circle"
        style="color:#28a745">
      </ion-icon>
      가격
    </button>
  </div>
  <div class="step" data-target="#test-l-8">
    <button class="trigger">
      <ion-icon *ngIf="formGroup.controls.options.invalid" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="formGroup.controls.options.valid" name="checkmark-circle" style="color:#28a745">
      </ion-icon>
      구매 옵션
    </button>
  </div>
  <div class="step" data-target="#test-l-9">
    <button class="trigger">
      <ion-icon *ngIf="formGroup.controls.desc.invalid" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="formGroup.controls.desc.valid" name="checkmark-circle" style="color:#28a745">
      </ion-icon>
      소개
    </button>
  </div>
  <div class="step" data-target="#test-l-10">
    <button class="trigger">
      <ion-icon
        *ngIf="formGroup.controls.check_list.invalid || formGroup.controls.include.invalid || formGroup.controls.exclude.invalid"
        name="checkmark-circle-outline"></ion-icon>
      <ion-icon
        *ngIf="formGroup.controls.check_list.valid && formGroup.controls.include.valid && formGroup.controls.exclude.valid"
        name="checkmark-circle" style="color:#28a745">
      </ion-icon>
      준비물
    </button>
  </div>
  <div class="step" data-target="#test-l-11">
    <button class="trigger">
      <ion-icon *ngIf="formGroup.controls.refund_policy.invalid || formGroup.controls.notice.invalid"
        name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="formGroup.controls.refund_policy.valid && formGroup.controls.notice.valid"
        name="checkmark-circle" style="color:#28a745">
      </ion-icon>
      환불 및 유의사항
    </button>
  </div>
  <div class="step" data-target="#test-l-12">
    <button class="trigger" (click)="lastCheck()" [disabled]="formGroup.invalid"
      [ngStyle]="{'cursor':formGroup.invalid ? 'not-allowed':'pointer'}">최종 확인</button>
  </div>
</ion-col>