ion-header {
    border-bottom: 1px solid #f1f1f1;

    .icon {
        color: #424242;
        font-size: 23px;
    }

    img {
        vertical-align: unset;
    }
}

:host::ng-deep ion-tabs .tabs-inner {
    margin-top: 45px;
}