<ion-content>
  <ion-grid fixed *ngIf="!!user" style="margin-top:2.7rem; padding: 0rem 1rem 0rem 1rem">
    <div style="padding: 0px 1rem 0px 1rem">
      <div style="display: flex;">
        <div>
          <img class="image" [src]="user.image">
          <p class="name" style="text-align: center;">{{user.nickName}}</p>
        </div>
        <div>
          <p class="catch_phrase">{{user.catch_phrase}}</p>
          <p class="desc" style="margin:0px">
            <span *ngIf="user">좋아요 {{user.score}}&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span *ngIf="hostedMeetings">주최한 모임 {{hostedMeetings.length}}&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span *ngIf="comments">후기 {{comments.length}}</span>
          </p>
        </div>
      </div>
      <p style="margin:0px">{{user.introduction}}</p><br>
    </div>
    <a href="mailto:nonunbub@gmail.com">
      <ion-button color="light" size="small" style="min-width: 115px;">
        <ion-icon name="hand-left-outline"></ion-icon>&nbsp;&nbsp;&nbsp;사용자 신고하기
      </ion-button>
    </a>
    <hr>
    <ion-row>
      <ion-col>
        <p class="subject"><span class="subject underline">주최한 모임</span> 🤟🤟</p>
        <ion-row *ngIf="!!hostedMeetings">
          <ion-col *ngIf="hostedMeetings.length === 0">
            <div style="opacity: 0.4; padding: 20px">
              <ion-chip outline>
                <ion-label>주최한 모임이 없습니다.</ion-label>
              </ion-chip>
            </div>
          </ion-col>
          <ion-col *ngFor="let meeting of hostedMeetings" size-lg="3" size-md="3" size-sm="6" size-xs="6" size="6"
            style="padding:0px">
            <a [href]="'/tabs/meeting-detail/' + meeting.mid" style="text-decoration: none; color:black;">
              <meeting-card [meeting]="meeting"></meeting-card>
            </a>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <hr>

    <p class="subject"><span class="subject underline">후기</span> 😎😎</p>
    <comment [comments]="comments" [currentUser]="user" [editable]="false" [displayLabel]="true"></comment>
  </ion-grid>
</ion-content>