.catch_phrase {
    font-size: 1.1rem;
    font-weight: 300;
}

.image {
    border-radius: 100%;
    object-fit: cover;
    width: 130px;
    height: 130px;
    margin-bottom: 0.5rem;
}

.subject {
    font-size: 1.5rem;
    font-weight: 610;
}