<ion-content>
  <ion-grid [fixed]="isDesktop" [ngStyle]="{'padding':isDesktop?'':'0px'}">
    <br>
    <ion-row>
      <ion-col>
        <p class="main_sentence">꽃중년은 뭐하고 놀지?</p>
        <p class="main_sentence" style="margin-bottom: 10px;">
          <span *ngIf="isDesktop" class="count"></span>
          <span *ngIf="!isDesktop">3000</span>가지 노는 방법,
          <span class="brand">노는법</span></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [ngStyle]="{'padding':isDesktop?'':'0px'}">
        <ion-slides [options]="bannerSliderConfig" pager="true">
          <ion-slide *ngFor="let banner of banners">
            <img [src]="banner.image" (click)="clickBanner(banner.link)">
          </ion-slide>

          <ng-container *ngIf="!banners">
            <ion-slide *ngFor="let banner of [1,2,3,4]">
              <img src="/assets/skeleton-banner-img.png">
            </ion-slide>
          </ng-container>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ng-container *ngFor="let meeting of mainMeetings">
      <ion-row style="margin-top: 40px;">
        <ion-col>
          <strong class="meeting-category">{{meeting.title}}</strong>
          <!-- <p class="subTitle" [ngStyle]="{'margin-left':'13px'}">{{meeting.subTitle}}</p> -->
          <p class="all" (click)="onShowAll(meeting.onShowKey,meeting.onShowTitle)">전체보기</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="meeting.meetings.length === 0">
          <div style="opacity: 0.4; padding: 20px">
            <ion-chip outline>
              <ion-label color="primary">다음 일정을 기대해주세요~!</ion-label>
            </ion-chip>
          </div>
        </ion-col>
        <ion-col *ngFor="let m of meeting.meetings" size-lg="3" size-md="3" size-sm="6" size-xs="6" size="6"
          style="padding:0px">
          <meeting-card [meeting]="m" (clickEvent)="onClick(m)"></meeting-card>
        </ion-col>
      </ion-row>
    </ng-container>
    <!-- <horizontal-slider [title]="'일주일 이내 열리는 모임'" [subTitle]="'가장 빨리 만나 볼 수 있는 기회! '+'(' + toWeek + ' ~ '+ fromWeek +')'"
      [meetings]="fastMeetings" (clickEvent)="onClick($event)" (showAllEvent)="onShowAll('week','이번주 진행되는 모임 💛💛')">
    </horizontal-slider>
    <horizontal-slider [title]="'인기 있는 모임'" [subTitle]="'지금 노는법에서 가장 인기있는 모임!'" [meetings]="meetings"
      (clickEvent)="onClick($event)" (showAllEvent)="onShowAll('all','인기 있는 모임 👍')"></horizontal-slider>
    <horizontal-slider [title]="'100케이션'" [subTitle]="'락앤롤 아트투어'" [meetings]="cationMeetings"
      (clickEvent)="onClick($event)" (showAllEvent)="onShowAll('100cation','100케이션 🎨🎨')"></horizontal-slider>
    <horizontal-slider [title]="'숲을 찾는 사람들'" [subTitle]="'길여행가와 떠나는 힐링 여행~'" [meetings]="forestMeetings"
      (clickEvent)="onClick($event)" (showAllEvent)="onShowAll('forest','숲을 찾는 사람들 🌲🌲')"></horizontal-slider> -->
  </ion-grid>
  <footer></footer>
</ion-content>