.main_sentence {
    font-family: Noto Sans KR, sans-serif;
    font-weight: 540;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1px;
    margin: 0px 0px 2px 15px;
    font-size: 26px;
}

.brand {
    font-family: Noto Sans KR, sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1px;
    color: #f557a4;
    font-size: 27px;
    font-style: italic;
}

.introduction {
    background: #f857a6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5858, #f857a6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5858, #f857a6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    margin-top: 1.8rem;
    padding: 15px 16px;
    border-radius: 11px;

    .catchphrase {
        display: inline-block;
        font-size: 1rem;
        font-weight: 700;
        color: rgb(255, 255, 255);
        margin: 2px;
    }

    .desc {
        margin: 6px 0px 2px 2px;
        font-size: 0.9rem;
        line-height: 1.3em;
        color: rgb(255, 255, 255);
    }
}

.footer {
    background-color: #454545;
    color: #B2B2B2;
    padding: 30px;
    bottom: 0px;
    font-size: 13px;

    .footer-list {
        list-style: none;
        padding: 0px;

        li {
            margin-bottom: 3px;
        }
    }

    .footer-link {
        color: white;
        text-decoration: none;
    }
}

.meeting-category {
    font-size: 1.5rem;
    font-weight: 610;
    color: rgb(27, 28, 29);
}

.all {
    color: #000;
    margin-bottom: 0px;
    float: right;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.host-image {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    border: 1px solid #efefef;
    border-radius: 50%;
}

.nnb-card {
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }

    .body {
        text-align: left;

        .catchphrase {
            margin-top: 7px;
            margin-bottom: 5px;
            font-size: 12px;
            line-height: 16px;
        }

        .title {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 4px;
        }
    }
}