.main_sentence {
    font-family: Noto Sans KR, sans-serif;
    font-weight: 550;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1px;
    margin: 0px 0px 2px 15px;
    font-size: 26px;
}

.brand {
    font-family: Noto Sans KR, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1px;
    color: #ff4081;
    font-size: 27px;
}

@property --num {
    syntax: "<integer>";
    initial-value: 3000;
    inherits: false;
}

.count {
    -webkit-animation: counter 1.5s ease-in-out;
    -moz-animation: counter 1.5s ease-in-out;
    animation: counter 1.5s ease-in-out;

    -webkit-counter-reset: num var(--num);
    -moz-counter-reset: num var(--num);
    counter-reset: num var(--num);
}

.count::after {
    content: counter(num);
}

@keyframes counter {
    from {
        -webkit--num: 288;
        -moz--num: 288;
        --num: 288;
    }

    to {
        -webkit--num: 3000;
        -moz--num: 288;
        --num: 3000;
    }
}

.footer {
    background-color: #454545;
    color: #B2B2B2;
    padding: 30px;
    bottom: 0px;
    font-size: 13px;

    .footer-list {
        list-style: none;
        padding: 0px;

        li {
            margin-bottom: 3px;
        }
    }

    .footer-link {
        color: white;
        text-decoration: none;
    }
}

.meeting-category {
    font-size: 24px;
    font-weight: bold;
    color: rgb(27, 28, 29);
}

.subTitle {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(133, 138, 141);
}

.all {
    margin-bottom: 0px;
    float: right;
    font-size: 16px;
    font-weight: 500;
    color: #202020;
    cursor: pointer;
}