.footer {
    background-color: #454545;
    color: #B2B2B2;
    padding: 30px;
    bottom: 0px;
    font-size: 13px;

    .footer-list {
        list-style: none;
        padding: 0px;

        li {
            margin-bottom: 3px;
        }
    }

    .footer-link {
        color: white;
        text-decoration: none;
    }
}

.meeting-category {
    font-size: 24px;
    font-weight: bold;
    color: rgb(27, 28, 29);
}

.subTitle {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(133, 138, 141);
}

.all {
    margin-top: 32px;
    margin-right: 6px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #202020;
    cursor: pointer;
}