<ion-content>
  <ion-grid fixed>
    <br>
    <ion-item lines="none">
      <ion-button (click)="goToAdd()" slot="end" size="default">
        <ion-icon name="add-outline" slot="start"></ion-icon>모임 등록하기
      </ion-button>
    </ion-item>
    <hr style="margin:10px 0px 0px 0px">
    <ion-row *ngIf="!!hostedMeetings">
      <ion-col *ngFor="let meeting of hostedMeetings" size="12">
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start" style="cursor: pointer;" (click)="goDetailPage(meeting)">
              <img [src]="meeting.file" />
            </ion-thumbnail>
            <ion-label style="cursor: pointer;" (click)="goDetailPage(meeting)">
              <h3>{{meeting.title}} </h3>
              <p>{{meeting.subTitle}}</p>
              <p *ngIf="meeting.price !== 0">{{meeting.price|number}}원</p>
              <p *ngIf="meeting.price === 0">무료</p>
            </ion-label>
            <div *ngIf="isDesktop">
              <ion-button color="medium" (click)="edit(meeting.mid)">수정하기</ion-button>
              <ion-button color="medium" (click)="reservate(meeting.mid)">예약관리</ion-button>
              <ion-button color="medium" (click)="noReady()">후기관리</ion-button>
              <ion-button color="medium" (click)="noReady()">문의관리</ion-button>
              <ion-button color="medium" (click)="delete(meeting.mid)">삭제</ion-button>
            </div>
            <ion-icon *ngIf="!isDesktop" name="ellipsis-vertical-outline" style="float: right; padding:20px 20px"
              class="more" (click)="presentActionSheet(meeting.mid)"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="hostedMeetings.length === 0">
        <div style="opacity: 0.4; padding: 20px">
          <ion-chip outline>
            <ion-label color="primary">주최한 모임이 없습니다.</ion-label>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>