/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.3px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.invalid-input {
    font-size: 13px;
    color: red;
}

.desc {
    font-size: 0.875rem;
    font-weight: 400;
    color: #696969;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 20px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pre-wrap {
    white-space: pre-wrap;
}


// new style
.primary-btn {
    width: 100%;
    height: 3.5rem;
    padding: 1.063rem;
    border-radius: 5px;
    background-color: #e5456e;

    font-size: 1.125rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.primary-btn:disabled {
    background-color: #e5456e4d;
}

.underline {
    border-bottom: 0.19rem solid #fac8d4;
    box-shadow: inset 0px -0.8rem 0px #fac8d4;
}

ion-checkbox {
    --background-checked: #ff4683;
    --border-color-checked: #ff4683;
}

ion-radio {
    --color: #ffb2ca;
    --color-checked: #ff4683;
}

ion-segment-button {
    --color-checked: #ff4683;
}

ion-chip {
    --background: #ffb2ca66;
    --color: #ff4683;
}

ion-toast {
    --background: #8645e5;
    --color: white;
    --button-color: white;
}

ion-tab-button {
    --color: #676062cf;
    --color-selected: #ff4081ba;
}