.invalid {
    border: 1px solid red;
    border-radius: 2px;
}

.valid {
    border: 1px solid #2fc552;
    border-radius: 2px;
}

.maximun-info {
    font-size: 13px;
    color: rgb(133, 138, 141);
    margin: 0px 0px 3px 15px;
}

.select {
    margin: 0.2rem 0.9rem 1rem 0.9rem;
}

.select-none-label {
    margin: 0.2rem;
}

:host::ng-deep ng-select .ng-select-container {
    min-width: 3.5rem;
}

ion-item {
    --highlight-color-invalid: grey;
    --highlight-height: 1px;
}