<ng-container *ngIf="!!product">
  <ion-content scroll-events="true" id="test1" (ionScroll)="onScroll($event)">
    <ion-grid *ngIf="!isDesktop" style="padding: 0px;">
      <img [src]="product.representationPhotos[0].photo" class="main-image" />
    </ion-grid>
    <ion-grid [fixed]="isDesktop">
      <ion-row>
        <ion-col *ngIf="isDesktop">
          <img [src]="product.representationPhotos[0].photo" class="main-image" />
        </ion-col>
        <ion-col [ngStyle]="{'padding-left': isDesktop ? '1.5rem':''}">
          <p class="hashtag">
            <span *ngFor="let hashtag of product.hashtags">#{{hashtag.name}}</span>
          </p>
          <p class="title">{{product.title}}</p>
          <price [price]="product.price" [discountPrice]="product.discountPrice"></price>
          <hr>
          <p class="summary-info">
            <ion-icon name="pricetag-outline" class="summary-icon"></ion-icon>
            <ng-container *ngFor="let category of product.categories">
              <a [href]="'/tabs/category-detail/' + (+category.id - 1)">
                <ion-chip style="color: #e5456e;background-color :#fae1e7; height: 1.5rem;">
                  <ion-label>{{category.name}}</ion-label>
                </ion-chip>
              </a>
            </ng-container>
          </p>
          <p class="summary-info">
            <ion-icon name="navigate-outline" class="summary-icon"></ion-icon>
            {{product.address}}, {{product.detailAddress}}
          </p>
          <p class="summary-info" *ngIf="product.runningMinutes!==0">
            <ion-icon name="time-outline" class="summary-icon"></ion-icon>
            약 <span *ngIf="runningHours!=0">{{runningHours}}시간 </span>
            <span *ngIf="runningMinutes!=0">{{runningMinutes}}분</span> 소요
          </p>
          <p class="summary-info">
            <ng-container *ngIf="product.options.length!==0">
              <ion-icon name="calendar-outline" class="summary-icon"></ion-icon>
              {{product.options[0].date|date:'yyyy-MM-dd HH:mm'}}
              <span *ngIf="product.options.length > 1">외
                <ng-container *ngIf="product.options.length < 10">{{product.options.length-1}}개의 일정</ng-container>
                <ng-container *ngIf="product.options.length >= 10">다수 일정</ng-container>
              </span>
            </ng-container>
            <ng-container *ngIf="product.options.length===0">
              <ion-icon name="calendar-outline" class="summary-icon"></ion-icon>
              <ion-chip color="warning">
                <ion-label>일정이 없습니다.</ion-label>
              </ion-chip>
            </ng-container>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid fixed>
      <div class="menu" [ngStyle]="{top: isDesktop ? '0':'0.7rem'}">
        <a class="section-1" (click)="setPosition(1)">
          <p class="section-menu">모임 소개</p>
        </a>
        <a class="section-2" (click)="setPosition(2)">
          <p class="section-menu">모임 장소</p>
        </a>
        <a *ngIf="product.checkList" class="section-3" (click)="setPosition(3)">
          <p class="section-menu">준비물</p>
        </a>
        <a *ngIf="product.price === 0 || product.discountPrice === 0" class="section-4" (click)="setPosition(4)">
          <p class="section-menu">환불 정책</p>
        </a>
        <a *ngIf="!!host" class="section-5" (click)="setPosition(5)">
          <p class="section-menu">호스트 소개</p>
        </a>
        <a class="section-6" (click)="setPosition(6)">
          <p class="section-menu">댓글</p>
        </a>
      </div>

      <main>
        <section id="section-1">
          <ng-container *ngIf="product.point">
            <ion-row>
              <ion-col>
                <p><span class="section-title underline">포인트</span></p>
                <p class="pre-wrap">{{product.point}}</p>
              </ion-col>
            </ion-row>
            <hr>
          </ng-container>

          <ng-container *ngIf="product.recommend">
            <ion-row>
              <ion-col>
                <p><span class="section-title underline">이런 분이 함께하면 좋아요</span></p>
                <p class="pre-wrap">{{product.recommend}}</p>
              </ion-col>
            </ion-row>
            <hr>
          </ng-container>

          <ng-container *ngIf="product.description">
            <ion-row>
              <ion-col>
                <p><span class="section-title underline">프로그램 소개</span></p>
                <quill-view [content]="product.description" format="text" theme="snow" [style]="quillStyle">
                </quill-view>
              </ion-col>
            </ion-row>
          </ng-container>
        </section>
        <hr>
        <section id="section-2">
          <ion-row>
            <ion-col>
              <p><span class="section-title underline">모임 장소</span></p>
              <p>{{product.address}} {{product.detailAddress}}</p>
              <agm-map [latitude]="product.lat" [longitude]="product.lon" [zoom]="15">
                <agm-marker [latitude]="product.lat" [longitude]="product.lon"></agm-marker>
              </agm-map>
            </ion-col>
          </ion-row>
        </section>
        <hr>
        <ng-container *ngIf="product.checkList">
          <section id="section-3">
            <ion-row>
              <ion-col>
                <p><span class="section-title underline">준비물</span></p>
                <p class="pre-wrap">{{product.checkList}}</p>
              </ion-col>
            </ion-row>
            <hr>
            <ng-container *ngIf="product.includeList">
              <section>
                <ion-row>
                  <ion-col>
                    <p><span class="section-title underline">포함 사항</span></p>
                    <p class="pre-wrap">{{product.includeList}}</p>
                  </ion-col>
                </ion-row>
                <hr>
              </section>
            </ng-container>
            <ng-container *ngIf="product.excludeList">
              <section>
                <ion-row>
                  <ion-col>
                    <p><span class="section-title underline">불포함 사항</span></p>
                    <p class="pre-wrap">{{product.excludeList}}</p>
                  </ion-col>
                </ion-row>
                <hr>
              </section>
            </ng-container>
            <ng-container *ngIf="product.notice">
              <section>
                <ion-row>
                  <ion-col>
                    <p><span class="section-title underline">유의 사항</span></p>
                    <p class="pre-wrap">{{product.notice}}</p>
                  </ion-col>
                </ion-row>
                <hr>
              </section>
            </ng-container>
          </section>
        </ng-container>
        <section id="section-4" *ngIf="product.price === 0 || product.discountPrice === 0">
          <ion-row>
            <ion-col>
              <p><span class="section-title underline">환불 정책</span></p>
              <p>상품 시작일 기준 {{product.refundPolicy100}}일 전까지 100% 환불</p>
              <p>상품 시작일 기준 {{product.refundPolicy0+1}}일 전까지 50% 환불</p>
              <p>상품 시작일 기준 {{product.refundPolicy0}}일 전 이후 환불 불가</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button class="nnb-btn nnb-btn-secondary nnb-btn-block" style="height: 3rem;padding: 0.75rem 0 1rem;"
                (click)="question()">실시간 문의하기</button>
            </ion-col>
          </ion-row>
          <hr>
        </section>
        <section id="section-5">
          <ion-row>
            <ion-col>
              <p><span class="section-title">호스트 소개</span></p>
              <div *ngIf="!!host">
                <div class="host">
                  <a [href]="'/tabs/profile/' + host.id">
                    <img *ngIf="host.profilePhoto" [src]="host.profilePhoto" class="icon-img">
                    <ion-icon *ngIf="!host.profilePhoto" name="person-circle-outline" class="icon">
                    </ion-icon>
                  </a>
                  <div class="info">
                    <a [href]="'/tabs/profile/' + host.id" style="text-decoration: none; color:black">
                      <span class="name">{{host.nickname}}</span>&nbsp;
                      <ion-badge color="medium" class="badge">인기</ion-badge>
                    </a>
                  </div>
                </div>
                <p *ngIf="host.catchphrase" class="catchphrase">{{host.catchphrase}}</p>
                <p *ngIf="host.introduction" class="introduction">{{host.introduction | truncate:[65]}}</p>
                <a [href]="'/tabs/profile/' + host.id" style="text-decoration: none; color: black;">
                  <button class="nnb-btn nnb-btn-secondary nnb-btn-sm">프로필 보기</button>
                </a>
              </div>
            </ion-col>
          </ion-row>
          <hr>
        </section>
        <section tion id="section-6">
          <p class="section-title">댓글&nbsp;&nbsp;<span class="desc">{{meta?.totalItemsWithChildren}}개</span></p>
          <comment [reviews]="reviews" [currentUser]="user" (onComment)="onComment($event)" [meta]="meta"
            (onDelete)="onDeleteComment($event)" (onChildComment)="onChildComment($event)" [displayLabel]="false"
            (onPage)="onPage($event)"></comment>
        </section>
      </main>
    </ion-grid>
    <footer></footer>
  </ion-content>

  <ion-footer style="z-index: 99999;" #footer class="ion-no-border">
    <ion-grid fixed class="join-wrapper">
      <div class="row" style='text-align: center;'>
        <div class="col-5">
          <div class="row">
            <div class="col">
              <ion-chip style="background: #fae1e7;color: #e5456e;height: 1.2rem;"
                *ngIf="product.status !== ProductStatus.DISABLED && product.options.length === 0">
                <ion-label>현재 {{requestNumber}}명 신청</ion-label>
              </ion-chip>
            </div>
          </div>
          <div class="row">
            <div class="col" style="display: flex; justify-content: space-around;"
              [ngStyle]="{'margin-top': product.status !== ProductStatus.DISABLED && product.options.length === 0 ? '':'8px'}">
              <div (click)="like(product.id,!product.isSetLike)">
                <ion-icon [name]="product.isSetLike ? 'heart': 'heart-outline'" class="summary-icon"></ion-icon>&nbsp;
                <span class="join-text"> 찜
                  <ion-chip style="background: #fae1e7;color: #e5456e;height: 1.2rem;">
                    <ion-label>{{product.likes}}</ion-label>
                  </ion-chip>
                </span>
              </div>
              <div (click)="openModal(product, template)">
                <ion-icon name="share-social-outline" class="summary-icon"></ion-icon>&nbsp;<span
                  class="join-text">공유</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-7">
          <ng-container *ngIf="!!user">
            <a [href]="'/tabs/payment/select/' + product.id" style="text-decoration: none; color: black;">
              <button class="nnb-btn nnb-btn-primary nnb-btn-lg nnb-btn-block join-btn"
                *ngIf="product.status !== ProductStatus.DISABLED && product.options.length !== 0">
                <span *ngIf="product.price !== 0 && product.discountPrice !== 0">모임 결제하러 가기!</span>
                <span *ngIf="product.price === 0 || product.discountPrice === 0">무료 모임 참석하기!</span>
              </button>
            </a>
            <a [href]="'/tabs/meeting-request/' + product.id" style="text-decoration: none; color: black;">
              <button
                *ngIf="product.status !== ProductStatus.DISABLED && product.options.length === 0 && !alreadyRequestProduct"
                class="nnb-btn nnb-btn-primary nnb-btn-lg nnb-btn-block join-btn"> 신청하러 가기! </button>
            </a>
            <button
              *ngIf="product.status !== ProductStatus.DISABLED && product.options.length === 0 && alreadyRequestProduct"
              class="nnb-btn nnb-btn-primary nnb-btn-lg nnb-btn-block join-btn" disabled>이미 신청한 모임입니다.</button>
          </ng-container>
          <ng-container *ngIf="!user">
            <button *ngIf="product.status !== ProductStatus.DISABLED && product.options.length !== 0"
              class="nnb-btn nnb-btn-primary nnb-btn-lg nnb-btn-block join-btn" (click)="needLogin()">
              모임 결제하러 가기!</button>
            <button *ngIf="product.status !== ProductStatus.DISABLED && product.options.length === 0"
              class="nnb-btn nnb-btn-primary nnb-btn-lg nnb-btn-block join-btn" (click)="needLogin()">신청하러 가기!</button>
          </ng-container>
          <button *ngIf="product.status === ProductStatus.DISABLED"
            class="nnb-btn nnb-btn-primary nnb-btn-lg nnb-btn-block join-btn" disabled>비활성된 상품입니다.</button>
        </div>
      </div>
    </ion-grid>
  </ion-footer>
</ng-container>

<ng-container *ngIf="!product">
  <ion-content>
    <ion-grid [fixed]="isDesktop" [ngStyle]="{'padding':isDesktop?'':'0px'}">
      <ion-row>
        <ion-col [ngStyle]="{'padding':isDesktop?'':'0px'}">
          <skeleton [width]="'100%'"></skeleton>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="desc">
            <skeleton [width]="'90%'" [height]="'22px'"></skeleton>
          </p>
          <h4>
            <skeleton [width]="'100%'" [height]="'56px'"></skeleton>
          </h4>
          <p><strong>
              <skeleton [width]="'40%'" [height]="'24px'"></skeleton>
            </strong></p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="font-size: 15px;font-weight: 300;">
          <p class="summary-info">
            <skeleton [width]="'45%'" [height]="'22px'"></skeleton>
          </p>
          <p class="summary-info">
            <skeleton [width]="'85%'" [height]="'22px'"></skeleton>
          </p>
          <p class="summary-info">
            <skeleton [width]="'100%'" [height]="'22px'"></skeleton>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>

<ng-template #template>
  <div class="modal-header">
    <p class="modal-title pull-left">공유하기</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="sns-share">
      <div class="sns" (click)="share('facebook')">
        <div>
          <img class="sns-icon" src="/assets/sns-icon/facebook.png">
        </div>페이스북
      </div>
      <div class="sns" (click)="share('kakaotalk')">
        <div>
          <img class="sns-icon" src="/assets/sns-icon/kakaotalk.png">
        </div>카카오톡
      </div>
      <div class="sns" (click)="share('kakaostory')">
        <div>
          <img class="sns-icon" src="/assets/sns-icon/kakao-story.png">
        </div>카카오<br>스토리
      </div>
      <div class="sns" (click)="share('naverband')">
        <div>
          <img class="sns-icon" src="/assets/sns-icon/naver-band.png">
        </div>네이버<br>밴드
      </div>
      <div class="sns" (click)="share('link')">
        <div>
          <img class="sns-icon" src="/assets/sns-icon/link.png">
        </div>링크복사
      </div>
    </div>
  </div>
</ng-template>

<div #script style.display="none">
  <ng-content></ng-content>
</div>