<ng-container *ngIf="!!meeting">
  <ion-content scroll-events="true" id="test1" (ionScroll)="onScroll($event)">
    <ion-grid *ngIf="!isDesktop" style="padding: 0px;">
      <img [src]="meeting.file" class="main-image" />
    </ion-grid>
    <ion-grid [fixed]="isDesktop">
      <ion-row>
        <ion-col *ngIf="isDesktop">
          <img [src]="meeting.file" class="main-image" />
        </ion-col>
        <ion-col>
          <p class="subTitle">{{meeting.subTitle}}</p>
          <p class="title">{{meeting.title}}</p>
          <span *ngIf="meeting.price !== 0" class="price">
            <ng-container *ngIf="meeting.discountPrice !== 0">
              <span class="origin">{{meeting.price | number}}원</span>
              <span class="discount">{{meeting.discountPrice | number}}원</span>
            </ng-container>
            <ng-container *ngIf="meeting.discountPrice === 0">
              <p class="discount">{{meeting.price | number}}원</p>
            </ng-container>
          </span>
          <span *ngIf="meeting.price === 0" class="price">무료</span>
          <hr>
          <p class="summary-info">
            <ion-icon name="pricetag-outline" class="summary-icon"></ion-icon>
            <a [href]="'/tabs/meetings?key=' + meeting.categories">
              <ion-chip style="color: #e5456e;background-color :#fae1e7; height: 1.5rem;">
                <ion-label>{{categories}}</ion-label>
              </ion-chip>
            </a>
          </p>
          <p class="summary-info">
            <ion-icon name="navigate-outline" class="summary-icon"></ion-icon>
            {{meeting.address}}, {{meeting.detailed_address}}
          </p>
          <p class="summary-info" *ngIf="runningHours!==0 && runningMinutes!==0">
            <ion-icon name="time-outline" class="summary-icon"></ion-icon>
            약 <span *ngIf="runningHours!=0">{{runningHours}}시간 </span>
            <span *ngIf="runningMinutes!=0">{{runningMinutes}}분</span> 소요
          </p>
          <p class="summary-info">
            <ng-container *ngIf="meeting.options.length!==0">
              <ion-icon name="calendar-outline" class="summary-icon"></ion-icon>
              {{meeting.options[0].optionDate|date:'yyyy-MM-dd HH:mm'}}
              <span *ngIf="meeting.options.length > 1">외 {{meeting.options.length}}개의 일정</span>
            </ng-container>
            <ng-container *ngIf="meeting.options.length===0">
              <ion-icon name="calendar-outline" class="summary-icon"></ion-icon>
              <ion-chip color="warning">
                <ion-label>일정이 없습니다.</ion-label>
              </ion-chip>
            </ng-container>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid fixed>
      <div class="menu">
        <a class="section-1" (click)="setPosition(1)">
          <p class="section-menu">모임 소개</p>
        </a>
        <a class="section-2" (click)="setPosition(2)">
          <p class="section-menu">모임 장소</p>
        </a>
        <a *ngIf="meeting.check_list" class="section-3" (click)="setPosition(3)">
          <p class="section-menu">준비물</p>
        </a>
        <!-- <a *ngIf="meeting.include" class="section-4" (click)="setPosition(4)">
          <p class="section-menu">포함 사항</p>
        </a>
        <a *ngIf="meeting.exclude" class="section-5" (click)="setPosition(5)">
          <p class="section-menu">불포함 사항</p>
        </a>
        <a *ngIf="meeting.notice" class="section-6" (click)="setPosition(6)">
          <p class="section-menu">유의 사항</p>
        </a> -->
        <a *ngIf="meeting.price !== 0" class="section-7" (click)="setPosition(7)">
          <p class="section-menu">환불 정책</p>
        </a>
        <a *ngIf="!!host" class="section-8" (click)="setPosition(8)">
          <p class="section-menu">호스트 소개</p>
        </a>
        <a class="section-9" (click)="setPosition(9)">
          <p class="section-menu">댓글</p>
        </a>
      </div>

      <main>
        <section id="section-1">
          <ion-row>
            <ion-col>
              <p><span class="section-title underline">모임 소개</span></p>
              <quill-view [content]="meeting.desc" format="text" theme="snow" [style]="quillStyle"></quill-view>
            </ion-col>
          </ion-row>
        </section>
        <hr>
        <section id="section-2">
          <ion-row>
            <ion-col>
              <p><span class="section-title underline">모임 장소</span></p>
              <p>{{meeting.address}} {{meeting.detailed_address}}</p>
              <agm-map [latitude]="meeting.lat" [longitude]="meeting.lon" [zoom]="15">
                <agm-marker [latitude]="meeting.lat" [longitude]="meeting.lon"></agm-marker>
              </agm-map>
            </ion-col>
          </ion-row>
        </section>
        <hr>
        <ng-container *ngIf="meeting.check_list">
          <section id="section-3">
            <ion-row>
              <ion-col>
                <p><span class="section-title underline">준비물</span></p>
                <p class="pre-wrap">{{meeting.check_list}}</p>
              </ion-col>
            </ion-row>
            <hr>
            <ng-container *ngIf="meeting.include">
              <section>
                <ion-row>
                  <ion-col>
                    <p><span class="section-title underline">포함 사항</span></p>
                    <p class="pre-wrap">{{meeting.include}}</p>
                  </ion-col>
                </ion-row>
                <hr>
              </section>
            </ng-container>
            <ng-container *ngIf="meeting.exclude">
              <section>
                <ion-row>
                  <ion-col>
                    <p><span class="section-title underline">불포함 사항</span></p>
                    <p class="pre-wrap">{{meeting.exclude}}</p>
                  </ion-col>
                </ion-row>
                <hr>
              </section>
            </ng-container>
            <ng-container *ngIf="meeting.notice">
              <section>
                <ion-row>
                  <ion-col>
                    <p><span class="section-title underline">유의 사항</span></p>
                    <p class="pre-wrap">{{meeting.notice}}</p>
                  </ion-col>
                </ion-row>
                <hr>
              </section>
            </ng-container>
          </section>
        </ng-container>
        <section id="section-7" *ngIf="meeting.price !== 0">
          <ion-row>
            <ion-col>
              <p><span class="section-title underline">환불 정책</span></p>
              <p>상품 시작일 기준 {{meeting.refundPolicy100}}일 전까지 100% 환불</p>
              <p>상품 시작일 기준 {{meeting.refundPolicy0+1}}일 전까지 50% 환불</p>
              <p>상품 시작일 기준 {{meeting.refundPolicy0}}일 전 이후 환불 불가</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button class="btn-question" (click)="question()">실시간 문의하기</button>
            </ion-col>
          </ion-row>
          <hr>
        </section>
        <section id="section-8">
          <ion-row>
            <ion-col>
              <p><span class="section-title">호스트 소개</span></p>
              <div *ngIf="!!host">
                <div class="host">
                  <a [href]="'/tabs/profile/' + host.uid">
                    <img *ngIf="host.image" [src]="host.image" class="icon-img">
                    <ion-icon *ngIf="!host.image" name="person-circle-outline" class="icon">
                    </ion-icon>
                  </a>
                  <div class="info">
                    <a [href]="'/tabs/profile/' + host.uid" style="text-decoration: none; color:black">
                      <span class="name">{{host.nickName}}</span>&nbsp;
                      <ion-badge color="medium" class="badge">인기</ion-badge>
                    </a>
                    <div class="score">score: {{host.score}}</div>
                  </div>
                </div>
                <p class="catch_phrase">{{host.catch_phrase}}</p>
                <p class="introduction">{{host.introduction}}</p>
              </div>
            </ion-col>
          </ion-row>
          <hr>
        </section>
        <section id="section-9">
          <ion-row>
            <ion-col>
              <p><span class="section-title">댓글</span></p>
              <comment [comments]="comments" [currentUser]="user" (onComment)="onComment($event)"
                (onDelete)="onDeleteComment($event)" (onChildComment)="onChildComment($event)"></comment>
            </ion-col>
          </ion-row>
        </section>
      </main>
    </ion-grid>
    <footer></footer>
  </ion-content>

  <ion-footer style="z-index: 99999;" #footer class="ion-no-border">
    <ion-grid fixed class="join-wrapper">
      <div class="row" style='text-align: center;'>
        <div class="col-5">
          <div class="row">
            <div class="col">
              <ion-chip style="background: #fae1e7;color: #e5456e;height: 1.2rem;"
                *ngIf="meeting.status !== 5 && meeting.options.length === 0">
                <ion-label>현재 {{requestNumber}}명 신청</ion-label>
              </ion-chip>
            </div>
          </div>
          <div class="row">
            <div class="col" style="display: flex; justify-content: space-around;"
              [ngStyle]="{'margin-top': meeting.status !== 5 && meeting.options.length === 0 ? '':'8px'}">
              <div (click)="like(meeting)">
                <ion-icon name="heart-outline" class="summary-icon"></ion-icon>&nbsp;<span class="join-text">찜</span>
              </div>
              <div (click)="openModal(meeting, template)">
                <ion-icon name="share-social-outline" class="summary-icon"></ion-icon>&nbsp;<span
                  class="join-text">공유</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-7">
          <ng-container *ngIf="!!user">
            <a [href]="'/tabs/payment/' + meeting.mid" style="text-decoration: none; color: black;">
              <button class="primary-btn" *ngIf="meeting.status !== 5 && meeting.options.length !== 0">
                모임 결제하러 가기!
              </button>
            </a>
            <a [href]="'/tabs/meeting-request/' + meeting.mid" style="text-decoration: none; color: black;">
              <button *ngIf="meeting.status !== 5 && meeting.options.length === 0 && !isRequestedMeeting"
                class="primary-btn"> 신청하러 가기! </button>
            </a>
            <button *ngIf="meeting.status !== 5 && meeting.options.length === 0 && isRequestedMeeting"
              class="primary-btn" disabled>이미 신청한 모임입니다.</button>
          </ng-container>
          <ng-container *ngIf="!user">
            <button *ngIf="meeting.status !== 5 && meeting.options.length !== 0" class="primary-btn"
              (click)="needLogin()">
              모임 결제하러 가기!
            </button>
            <button *ngIf="meeting.status !== 5 && meeting.options.length === 0" class="primary-btn"
              (click)="needLogin()">
              신청하러 가기!
            </button>
          </ng-container>
          <ion-button *ngIf="meeting.status === 5" expand="full" size="large" style="margin: 0px;  color:#007bff"
            disabled>
            비활성된 상품입니다.
          </ion-button>
        </div>
      </div>
    </ion-grid>
  </ion-footer>
</ng-container>

<ng-container *ngIf="!meeting">
  <ion-content>
    <ion-grid [fixed]="isDesktop" [ngStyle]="{'padding':isDesktop?'':'0px'}">
      <ion-row>
        <ion-col [ngStyle]="{'padding':isDesktop?'':'0px'}">
          <skeleton [width]="'100%'"></skeleton>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="desc">
            <skeleton [width]="'90%'" [height]="'22px'"></skeleton>
          </p>
          <h4>
            <skeleton [width]="'100%'" [height]="'56px'"></skeleton>
          </h4>
          <p><strong>
              <skeleton [width]="'40%'" [height]="'24px'"></skeleton>
            </strong></p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="font-size: 15px;font-weight: 300;">
          <p class="summary-info">
            <skeleton [width]="'45%'" [height]="'22px'"></skeleton>
          </p>
          <p class="summary-info">
            <skeleton [width]="'85%'" [height]="'22px'"></skeleton>
          </p>
          <p class="summary-info">
            <skeleton [width]="'100%'" [height]="'22px'"></skeleton>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>

<ng-template #template>
  <div class="modal-header">
    <p class="modal-title pull-left">공유하기</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="sns-share">
      <div class="sns" (click)="share('facebook')">
        <div>
          <img class="sns-icon" src="/assets/sns-icon/facebook.png">
        </div>페이스북
      </div>
      <div class="sns" (click)="share('kakaotalk')">
        <div>
          <img class="sns-icon" src="/assets/sns-icon/kakaotalk.png">
        </div>카카오톡
      </div>
      <div class="sns" (click)="share('kakaostory')">
        <div>
          <img class="sns-icon" src="/assets/sns-icon/kakao-story.png">
        </div>카카오<br>스토리
      </div>
      <div class="sns" (click)="share('naverband')">
        <div>
          <img class="sns-icon" src="/assets/sns-icon/naver-band.png">
        </div>네이버<br>밴드
      </div>
      <div class="sns" (click)="share('link')">
        <div>
          <img class="sns-icon" src="/assets/sns-icon/link.png">
        </div>링크복사
      </div>
    </div>
  </div>
</ng-template>

<div #script style.display="none">
  <ng-content></ng-content>
</div>