<ion-row style="margin-top: 40px;">
  <ion-col>
    <span *ngIf="!!title" class="meeting-category">{{title}}</span><br>
    <span *ngIf="!!subTitle" class="hashtag">{{subTitle}}</span>
  </ion-col>
  <p class="all" *ngIf="isShowAll" (click)="showAll()">전체보기</p>
</ion-row>

<ion-row>
  <ion-col class="meeting-list">
    <ion-slides [options]="sliderConfig" pager="false" #slider id="slider">
      <ng-container *ngIf="isLoaded">
        <ng-container *ngIf="data.length !==0; else no_meeting">
          <ion-slide *ngFor="let element of data" [style]="slideStyle">
            <ng-container *ngIf="element.template" [ngTemplateOutlet]="element.template"
              [ngTemplateOutletContext]="{ $implicit: element }"></ng-container>
          </ion-slide>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!isLoaded">
        <ion-slide *ngFor="let i of [1,2,3,4,5]">
          <empty-meeting-card></empty-meeting-card>
        </ion-slide>
      </ng-container>
    </ion-slides>
  </ion-col>
</ion-row>

<ng-template #no_meeting>
  <div style="text-align: center; opacity: 0.4;">
    <ion-chip outline>
      <ion-label>목록이 없습니다.</ion-label>
    </ion-chip>
  </div>
</ng-template>